.message {
    overflow: hidden;
    min-width: 150px;
}

.message * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.message__logo--svg {
    position: relative;
}

.message__logo--svg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.message__logo--svg canvas {
    display: block;
    width: 100%;
    visibility: hidden;
}

.message img {
    display: block;
    width: 100%;
    height: 100%;
}

.message__container {
    border: 1px solid #003087;
    position: relative;
}

.message__content {
    width: auto;
    font-family: 'HelveticaNeueW02-65Medi', 'Helvetica Neue-Thin', Helvetica, Arial, 'Lucida Grande', sans-serif;
    overflow: hidden;
    cursor: pointer;
}

.message__messaging {
    padding: 0;
    float: right;
    text-align: left;
}

.message__logo {
    z-index: 1;
    height: auto;
    width: 80%;
}

.message__logo-container {
    position: absolute;
    float: left;
    padding: 10px 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message__logo-container img {
    z-index: 1;
}

.message__headline {
    color: #003087;
    font-weight: bold;
    font-size: 14px;
    line-height: 1em;
}

.message__headline .weak {
    font-weight: normal;
}

.message__sub-headline {
    color: #767676;
    font-weight: 400;
    font-size: 13px;
    line-height: 1em;
}

.message__disclaimer {
    color: #767676;
    font-size: 11px;
    line-height: 1em;
}

.message__disclaimer .em {
    color: #003087;
    text-decoration: underline;
    display: inline-block;
    font-style: normal;
}
