.message {
    max-width: 100%;
    min-width: 180px;
}

.message__logo-container {
    width: 28%;
}

.message__messaging {
    width: 70%;
    line-height: 0;
    padding: 0.5% 1.5% 0 1.5%;
}

.message__promo-container {
    margin: 2px 0;
}

.message__headline {
    display: inline;
    font-size: 12.5px;
    line-height: 13px;
}

.message__headline .em {
    margin-right: 0;
}

.message__headline .weak {
    font-weight: bold;
}

.message__sub-headline {
    display: inline;
    font-size: 12px;
    color: #009cde;
    line-height: 13px;
}

.message__disclaimer {
    margin-bottom: 2px;
}
