.message__logo-container {
    width: 23%;
}

.message__messaging {
    width: 75%;
    padding: 4px 0;
}

.message__headline {
    font-size: 16px;
    margin-bottom: 2px;
}

.message__sub-headline {
    font-size: 10px;
}

.message__disclaimer {
    font-size: 8px;
}
