.message__logo {
    max-width: 60%;
}

.message__logo-container {
    width: 30%;
    padding-right: 25px;
}

.message__messaging {
    width: 68%;
    padding: 6px 0;
}

.message__headline {
    font-size: 28px;
    margin-bottom: 8px;
}

.message__sub-headline {
    font-size: 12px;
    margin-bottom: 8px;
}

.message__disclaimer {
    font-size: 9px;
}
