.message {
    min-width: 160px;
    max-width: 100%;
}

.message__logo {
    max-width: 60%;
}

.message__logo-container {
    width: 23%;
}

.message__messaging {
    width: 77%;
    padding: 6px 1% 0;
    margin-bottom: 3px;
}

.message__promo-container {
    display: inline;
}

.message__headline {
    display: block;
    margin-bottom: 6px;
}

.message__sub-headline {
    display: inline;
    color: #009cde;
}

.message__disclaimer {
    display: inline;
}

.message__disclaimer em {
    display: inline-block;
}

@media (max-width: 570px) {
    .message__logo {
        max-width: 70%;
    }

    .message__headline {
        font-size: 13px;
        margin-bottom: 3px;
    }

    .message__sub-headline {
        font-size: 12px;
    }

    .message__disclaimer {
        font-size: 9px;
    }

    .message__disclaimer em::after {
        height: 8px;
    }
}

@media (max-width: 440px) {
    .message__logo {
        max-width: 75%;
    }

    .message__headline {
        font-size: 11px;
        margin-bottom: 2px;
    }

    .message__sub-headline {
        font-size: 10px;
    }
}

@media (max-width: 340px) {
    .message__messaging {
        padding-top: 2px;
    }
}

@media (max-width: 250px) {
    .message__logo {
        max-width: 50%;
    }

    .message__logo-container {
        float: none;
        position: relative;
        height: auto;
        width: 100%;
    }

    .message__messaging {
        float: none;
        width: 100%;
        padding: 5% 5% 3%;
        margin-bottom: 6px;
    }

    .message__headline {
        font-size: 12px;
        margin-bottom: 6px;
    }

    .message__sub-headline {
        font-size: 11px;
    }
}
