.message__disclaimer > span.tag--large,
.message__disclaimer > span.tag--large.multi:first-of-type,
.message__disclaimer > span.tag--large.multi:last-of-type {
    color: #2c2e2f;
    font-weight: normal;
    text-decoration: none;
    white-space: normal;
}
