.message__logo-container::before {
    content: 'con ';
}

.message__logo-container {
    display: inline;
}

.message__logo-container::after {
    content: '.';
}

.weak {
    display: none;
}

.message__headline {
    white-space: normal;
}
