button:focus .message__content,
button:focus .message__content span.br {
    text-decoration: underline;
}

.message {
    display: block;
    width: 100%;
    color: #2c2e2f;
    cursor: pointer;
}

.message__container {
    min-width: 100%;
}

.message__content {
    display: inline-flex;
    align-items: center;
    min-width: 100%;
}

.message__logo-container {
    flex: 0 0 auto;
    width: 70px;
    margin-right: 0.8rem;
}

.message__messaging {
    white-space: normal;
    position: relative;
    top: -0.05em;
    line-height: 1.3;
}

.message__messaging span.br {
    white-space: nowrap;
}

.message__promo-container {
    display: inline;
}

.message__headline {
    display: inline;
    font-weight: 400;
    font-size: inherit;
}

.message__sub-headline {
    display: none;
    font-size: inherit;
}

.message__disclaimer {
    display: inline;
    white-space: nowrap;
    font-weight: 400;
    font-size: inherit;
}

.message__disclaimer > span {
    color: #0070ba;
    font-weight: 500;
}

.message__disclaimer > span:not(.multi),
.message__disclaimer > span.multi:last-of-type {
    text-decoration: underline;
}

/* For non-US NI disclaimer */
.message__disclaimer > span.multi:first-of-type {
    color: #2c2e2f;
    font-weight: normal;
    text-decoration: none;
}
