@use '../../../styles/globals/colors';
@use '../../../styles/globals/mixins';

.content__body {
    .content__row {
        padding-right: 50px;

        @include mixins.mobile {
            padding: 0px;
        }

        &.nav__link-prefix {
            min-width: 315px;
            padding: 0px;
            font-size: 14px;
            margin: 0px;
            @include mixins.tablet {
                margin: 0px 44px 0px 44px;
            }

            @include mixins.desktop {
                margin-left: 30px;
            }

            @include mixins.mobile {
                margin-left: 0px;
            }
        }
    }
}
