.message__logo-container {
    display: inline;
    white-space: nowrap;
    margin: 0;
}
.message__logo-container::before {
    content: ' with ';
}

.message__logo-container::after {
    content: ' Flex.';
}

.message__logo {
    display: inline-block;
    vertical-align: middle;
}

.message__disclaimer > .tag--default > span {
    font-weight: 500;
    color: #0070ba;
}

.message__headline > .tag--default > span::before {
    content: 'Or ';
}
