/* Not a valid style option ratio, but used as the mobile base for 8x1 and 20x1 */

.message__content {
    display: flex;
    padding-right: 1rem;
    align-items: center;
}

.message__logo-container {
    flex: 0 0 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message__logo {
    width: 60%;
}

.message__messaging {
    position: relative;
    flex: 1 1 100%;
    display: block;
}

.message__messaging > * {
    width: 100%;
}

.message__headline {
    font-size: 5vw;
    line-height: 1;
    margin-bottom: 0.2em;
}

.message__sub-headline {
    display: none;
}

.message__promo-container {
    display: inline;
}

.message__headline span.multi:nth-of-type(2) {
    display: none;
}

.message__disclaimer {
    font-size: 10px;
    line-height: 1.1;
    display: inline;
}

@media (max-aspect-ratio: 61/10) and (min-width: 400px) {
    .message__logo-container {
        flex: 0 0 25%;
    }

    .message__headline {
        font-size: 4vw;
        margin-bottom: 0.5rem;
    }

    .message__sub-headline {
        font-size: 3vw;
        display: inline;
    }

    .message__sub-headline > span {
        margin-right: 1rem;
    }
}

@media (max-aspect-ratio: 61/10) and (min-width: 520px) {
    .message__logo-container {
        flex: 0 0 25%;
    }

    .message__headline {
        line-height: 1.1;
    }

    .message__disclaimer {
        font-size: 0.85rem;
    }

    .message__headline span.multi:nth-of-type(2) {
        display: inline;
    }

    .message__headline span.multi:nth-of-type(1) {
        display: none;
    }
}

@media (max-aspect-ratio: 61/10) and (min-width: 640px) {
    .message__headline {
        font-size: 1.7rem;
    }
}
