.header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    // TODO: This container can likely be removed. It was originally used strictly for the
    // scroll bar hack for Windows, but that hack has been moved further up to the root
    // modal wrapper
    .header-container {
        width: 100%;
    }

    .header {
        background: rgb(246, 247, 251);
        text-align: center;
        width: 100%;
        max-width: 612px;
        margin: 0 auto;
        position: relative;
        height: 100%;
    }

    .logo {
        box-sizing: border-box;
        display: block;
        margin: 0 auto;
        height: 72px;
        transition: all 0.3s;
    }

    .close {
        &:focus{
            border: 1px solid white;
            border-radius: 5px;
            transform: translate(1px, -1px);
        }

        svg {
            height: 48px;
            width: 48px;
        }

        path {
            stroke-width: 1px;
            transition: all 0.3s;
        }
    }

    .logo-wrapper {
        transition: all 0.3s;
        transform: translateX(0) scale(1);
    }
}
