.header-container {
    .header {
        background: rgb(246, 247, 251);

        &::after {
            background: linear-gradient(rgba(246, 247, 251, 1), rgba(246, 247, 251, 0));
            height: 20px;
        }
    }

    .logo {
        width: 200px;
        padding: 28px 0;
    }
}

.content {
    padding-top: 72px;
    position: relative;
    z-index: 50;
    overflow: hidden;

    .calculator-container {
        margin: auto;
        max-width: 400px;
        padding-bottom: 3rem;
    }

    .disclosure {
        color: #687173;
        font-size: 0.75rem;
    }
}

.content-body {
    overflow: hidden;
}

.content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    // Important: This forces the wrapper to be the entire width of the screen
    // which is needed in Windows due to the scroll bar offset hack used
    // on the topmost parent container
    width: 100vw;
    height: 100%;
    overflow-y: scroll;
}

.content-background {
    width: 100%;
    max-width: 640px;
    margin: auto;
    background: white;
    min-height: 100%;
}

@media only screen and (max-width: 640px) {
    .calculator-container {
        padding: 0 18px;
    }
}
