{
    "extends": ["airbnb-base", "prettier"],
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "globals": {
        "__MODULE_VERSION__": true,
        "__SDK__": true,
        "__BANNER_URL__": true,
        "__MODAL_URL__": true,
        "__LOGGING_URL__": true,
        "__LEGACY__": true,
        "__DEMO__": true,
        "__TERMS_URL__": true
    },
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error",
        "no-underscore-dangle": "off",
        "import/no-extraneous-dependencies": [
            "error",
            { "devDependencies": ["/*.js", "/utils/**/*.js", "/tools/**/*.js", "/tests/**/*.js"] }
        ]
    }
}
