{
    "extends": ["airbnb", "prettier"],
    "parser": "@babel/eslint-parser",
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "__MESSAGES__": true,
        "__MESSAGING_GLOBALS__": true
    },
    "plugins": ["prettier"],
    "rules": {
        "arrow-body-style": "off",
        "unicorn/prefer-spread": "off",
        "prettier/prettier": "error",
        "no-underscore-dangle": "off",
        "no-promise-executor-return": "off",
        "import/prefer-default-export": "off",
        "import/no-extraneous-dependencies": [
            "error",
            { "devDependencies": ["/*.js", "/utils/**/*.js", "/tools/**/*.js", "/tests/**/*.js"] }
        ],
        "react/jsx-indent": 0,
        "react/jsx-indent-props": 0,
        "react/prop-types": 0,
        "react/function-component-definition": 0,
        "react/jsx-one-expression-per-line": 0,
        "react/jsx-filename-extension": 0,
        "react/jsx-curly-spacing": 0,
        "react/no-unknown-property": 0
    },
    "settings": {
        "import/resolver": {
            "babel-module": {
                "alias": {
                    "src": "./src",
                    "server": "./server",
                    "utils": "./utils"
                }
            }
        }
    }
}
