registry=https://registry.npmjs.org
package-lock=false
puppeteer_download_host='https://commondatastorage.googleapis.com'

https_proxy=http://proxy.prd.plb.paypalcorp.com:8080
proxy=http://proxy.prd.plb.paypalcorp.com:8080
