language: node_js

node_js:
    - '8'

script:
    - npm run lint
    - npm run test
# deploy:
#     provider: npm
#     email: $NPM_EMAIL
#     api_key: $NPM_TOKEN
#     on:
#         tags: true
#         branch: release
