@import '../../../styles/globals/colors';
@import '../../../styles/globals/mixins';

.content__container .content__row.dynamic {
    background-color: #f1efea;
}

.content__row.instructions {
    max-width: 369px;
}

.content__row.disclosure {
    padding-top: 17px;
}

.content__row p {
    margin-top: 0;
    color: black;
    font-size: 18px;
}
