.message__disclaimer {
    max-width: unset;
}

@media (min-aspect-ratio: 200/11) {
    .message__content {
        display: flex;
    }

    .message__messaging {
        align-items: center;
    }

    .message__logo-container {
        flex: 1 0 25%;
        margin-bottom: 0;
        display: flex;
    }

    .message__logo {
        width: 90%;
    }

    .message__headline {
        font-size: 0.6rem;
    }
}

@media (min-aspect-ratio: 200/11) and (min-width: 600px) {
    .message__logo-container {
        flex: 1 0 20%;
        margin-right: 1%;
    }

    .message__headline {
        font-size: 1.6vw;
    }

    .message__logo {
        width: 90%;
    }

    .message__disclaimer {
        padding-right: 8%;
    }

    .message__headline span.multi:nth-of-type(1) {
        display: none;
    }

    .message__headline span.multi:nth-of-type(2) {
        display: inline;
    }

    .message__disclaimer span.multi:nth-of-type(1) {
        display: inline;
    }
}
