@media (min-aspect-ratio: 80/11) {
}

@media (min-aspect-ratio: 80/11) and (min-width: 240px) {
}

@media (min-aspect-ratio: 80/11) and (min-width: 500px) {
    .message__content {
        padding: 3vw;
    }

    .message__headline {
        font-size: 2.3vw;
        padding-right: 1rem;
    }

    .message__logo-container {
        width: 200px;
        margin-bottom: 1.5vw;
    }

    .message__promo-container {
        flex: 1 1 auto;
        width: auto;
    }

    .message__disclaimer {
        flex: 1 1 20%;
    }
}

@media (min-aspect-ratio: 80/11) and (min-width: 600px) {
}
