.message__logo {
    max-width: 40%;
}

.message__logo-container {
    height: 85px;
}

.message__logo-container::before {
    height: 130%;
    transform: skewY(5deg);
}

.message__messaging {
    margin-top: 20px;
    padding: 0 20px;
}

.message__headline {
    font-size: 24px;
    margin-bottom: 5px;
}

.message__sub-headline {
    font-size: 11px;
    line-height: 15px;
}

.message__disclaimer {
    font-size: 8px;
}

.message__disclaimer .em {
    display: inline;
}
