.message {
    min-width: 200px;
    max-width: 100%;
}

.message__logo-container {
    width: 23%;
}

.message__messaging {
    width: 74%;
    padding: 2% 2% 0 1%;
}

.message__headline {
    margin-bottom: 3px;
}

.message__headline .weak {
    font-weight: bold;
}

.message__sub-headline {
    margin-bottom: 2px;
    color: #009cde;
}
