.message__disclaimer .em::after {
    content: '';
    background: transparent url(https://www.paypalobjects.com/webstatic/en_US/easypmnts/linker.jpg) no-repeat center top;
    background-size: contain;
    width: 15px;
    height: 11px;
    display: inline-block;
    position: relative;
    margin-bottom: -2px;
}
