.message__messaging {
    float: none;
}

.message__logo {
    max-width: 90%;
}

.message__logo-container {
    width: 100%;
    float: none;
    position: relative;
}

.message__disclaimer .em {
    display: block;
    margin-left: 0;
}
