.message__disclaimer > span {
    text-decoration: none;
    white-space: normal;
}

.message__disclaimer > span > span {
    white-space: nowrap;
}

.message__disclaimer > span > span:only-child,
.message__disclaimer > span > span.em {
    text-decoration: underline;
}
