@media (min-aspect-ratio: 80/11) {
    .message__headline {
        font-size: 3vw;
        padding-right: 1rem;
        display: inline;
    }

    .message__logo-container {
        margin-bottom: 0;
    }

    .message__disclaimer {
        margin-top: 0;
        display: inline;
    }

    .message__messaging {
        display: flex;
    }
}

@media (min-aspect-ratio: 80/11) and (min-width: 300px) {
    .message__messaging {
        display: block;
    }
}

@media (min-aspect-ratio: 80/11) and (min-width: 500px) {
    .message__headline {
        font-size: 3vw;
        padding-right: 1rem;
    }

    .message__logo-container {
        width: 30%;
        margin-bottom: 1.5vw;
    }

    .message__promo-container {
        flex: 0 1 auto;
        width: auto;
    }

    .message__disclaimer {
        flex: 1 1 auto;
        margin-top: 0.5rem;
    }

    .message__content {
        padding: 2.5vw;
    }

    .message__logo-container {
        margin-bottom: 2vw;
    }

    .message__disclaimer span.multi:nth-of-type(1) {
        display: inline;
    }
}
