.message__content {
    padding: 7%;
}

.message__logo-container {
    width: 50%;
    margin-bottom: 7%;
}

.message__headline {
    font-size: 10vw;
    line-height: 1.1em;
}

.message__sub-headline {
    display: none;
}

.message__disclaimer {
    position: absolute;
    width: 80%;
    bottom: 7%;
    font-size: 9.5px;
}

@media (min-width: 170px) {
    .message__headline {
        font-size: 8vw;
    }

    .message__sub-headline {
        font-size: 7vw;
        line-height: 1.3em;
        margin-top: 3%;
        display: block;
    }

    .message__disclaimer {
        font-size: 5.5vw;
    }
}

@media (min-width: 220px) {
    .message__disclaimer {
        font-size: 4.5vw;
    }
}
