.header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    // TODO: This container can likely be removed. It was originally used strictly for the
    // scroll bar hack for Windows, but that hack has been moved further up to the root
    // modal wrapper
    .header-container {
        width: 100%;
    }

    .header {
        background: rgba(0, 0, 0, 0);
        text-align: center;
        width: 100%;
        max-width: 612px;
        margin: 0 auto;
        position: relative;
        background: white;
        transition: 150ms;
        height: 100%;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 99%;
            left: 0;
            width: 100%;
            height: 40px;
            background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            pointer-events: none;
        }
    }

    .logo {
        box-sizing: border-box;
        width: 100px;
        display: block;
        margin: 0 auto;
        padding: 18px 0;
        height: 72px;
        transition: all 0.3s;
    }

    .close {
        
        &:focus {
            border: 1px solid white;
            border-radius: 5px;
            transform: translate(1px, -1px);
        }

        svg {
            height: 48px;
            width: 48px;
        }

        path {
            stroke-width: 1px;
            transition: all 0.3s;
        }
    }

    .logo-wrapper {
        transition: all 0.3s;
        transform: translateX(0) scale(1);
    }

    &.logo-wrapper--shift .logo-wrapper {
        transform: translateX(calc(-50% + 35px + 16px)) scale(0.7);
    }

    @media (min-width: 26.25rem) {
        &.logo-wrapper--shift .logo-wrapper {
            transform: translateX(calc(-50% + 50px + 24px)) scale(1);
        }
    }

    .apply-now {
        position: absolute;
        top: 1.1rem;
        left: 50%;
        font-size: 0.9rem;
        cursor: default;
        opacity: 0;
        transform: translate(-50%, 1.3rem);

        &.show {
            cursor: pointer;
            opacity: 1;
            transform: translate(-50%, 0);
        }
    }

    @media (min-width: 22.5rem) {
        .apply-now {
            font-size: 1rem;
        }
    }
}
