.content-body {
    @include desktop {
        display: flex;

        .left {
            flex-grow: 1;
            z-index: 9;
        }

        .right {
            width: 34%;
        }
    }

    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        min-height: calc(100vh - 184px);

        .left {
            z-index: 9;
            order: 2;
            margin-top: -250px;
        }

        .right {
            order: 3;
            margin-top: 40px;
            text-align: center;
        }
    }
}
