.content-body {
    padding: 0 1rem;
    margin: auto;
    max-width: 500px;

    @include mobile {
        max-width: 400px;
    }

    h2 {
        text-align: left;
        font-weight: bold;
    }

    .payment-breakdown {
        height: 5rem;
        display: flex;

        & > * {
            color: #687173;
            flex: 0 0 25%;
            font-size: 0.8rem;
            text-align: center;
            line-height: 1.5;

            svg {
                margin-bottom: 0.25rem;
            }

            b {
                font-size: 1rem;
            }
        }
    }

    .divider {
        border: none;
        border-bottom: 1px dashed #aaa;
    }

    p,
    li {
        color: #687173;
    }

    .description {
        max-width: 400px;
    }

    .apply-now {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: 1rem;
            margin-top: 0;
        }

        button {
            background: #ffc43a;
            color: #2c2e2f;
            border: none;
        }
    }
}
