.content-body {
    padding: 0 1rem;
    margin: auto;
    max-width: 500px;

    @include mobile {
        max-width: 400px;
    }

    h2 {
        text-align: left;
        font-weight: bold;
    }

    .divider {
        border: none;
        border-bottom: 1px dashed #aaa;
    }

    p,
    li {
        color: #687173;
    }

    .description {
        max-width: 400px;
    }

    .call-to-action {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-top: 3rem;

        p {
            font-size: 1rem;
            margin-top: 0;
        }

        button {
            background: #ffc43a;
            color: #2c2e2f;
            border: none;
        }
    }
}
