.header-wrapper {
    background: white;
}

.header-container {
    background-color: #3e9dea;
    border-bottom-left-radius: 100px 20px;
    position: relative;
    overflow: hidden;

    h1 {
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
    }

    .header {
        max-width: 500px;
        margin: auto;
        z-index: 999;
        display: block;
        height: auto;
        padding: 40px 0;
    }

    .logo {
        display: inline-block;

        & img {
            height: 45px;
            margin-right: 9px;
        }
    }

    .close {
        top: 5px;
        right: 5px;

        svg {
            height: 40px;
            width: 40px;

            path {
                stroke: white !important;
            }
        }
    }

    @include desktop {
        .icon {
            position: absolute;
            bottom: -1rem;
            right: 3rem;
        }
    }

    @include mobile {
        text-align: center;

        h1 {
            margin-top: 0;
        }

        .icon {
            margin-bottom: -2rem;
        }

        .logo {
            & img {
                height: 45px;
                margin-right: 9px;
            }
        }

        .close {
            svg {
                height: 35px;
                width: 35px;
            }
        }
    }
}
