.tabs {
    margin: auto;
    max-width: 280px;
    padding: 0.2rem 0.2rem;
    white-space: nowrap;
    font-size: 0;
    display: flex;
    border-radius: 1.7rem;
    height: 2.4rem;
    box-sizing: border-box;
}

.tab {
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    font-family: PayPalSansSmall, Helvetica, Arial, Sans-Serif;
    width: 50%;
    text-align: center;
    margin-top: 0;
    white-space: normal;
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    transition: color 0.3s;

    .title {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #3e9dea;
        transform: translateX(100%);
        transition: transform 0.3s;
        border-radius: 1.7rem;
    }

    &:nth-child(2):before {
        transform: translateX(-100%);
    }

    &:hover {
        color: #0070ba;
    }

    &.selected {
        color: white;

        &::before {
            transform: translateX(0);
        }
    }
}

.tab-transition {
    position: relative;
    height: 100%;
    overflow: auto;
}

.tab-transition-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    transition-delay: 0.3s;
    overflow: hidden;

    &.selected {
        position: relative;
        z-index: 2;
        background: white;
        opacity: 1;
        pointer-events: all;
        transition-delay: 0s;
        overflow: auto;
    }
}
