/* Not a valid style option ratio, but used as the mobile base for 8x1 and 20x1 */
@media (min-aspect-ratio: 60/11) and (max-width: 501px) {
    .message__headline {
        font-size: 3.5vw;
        line-height: 1.1em;
        display: inline;
    }
    .tag--default {
        font-size: 3.1vw;
    }
    .message__messaging {
        flex: 1 1 100%;
    }
    .message__logo-container {
        display: flex;
        align-items: center;
        flex: 1 0 16%;
    }
    .message__headline span.tag--xsmall {
        display: none;
    }
    .message__headline span.tag--medium {
        display: inline;
    }
    .message__headline span.weak {
        margin-left: -4px;
    }
    .message__logo:nth-of-type(1) {
        display: inline;
    }
    .message__logo:nth-of-type(2) {
        display: none;
    }
}
@media (min-aspect-ratio: 60/11) and (max-width: 374px) {
    .message__headline {
        font-size: 4.5vw;
    }
    .message__disclaimer {
        font-size: 3vw;
    }
    .message__headline span.tag--xsmall {
        display: inline;
    }
    .message__headline span.tag--medium {
        display: none;
    }
    .message__content {
        padding: 0.5rem;
    }
    .message__messaging {
        flex: 1 1 100%;
        display: block;
    }
}
@media (min-aspect-ratio: 60/11) and (max-width: 323px) {
    .message__logo:nth-of-type(1) {
        display: inline;
        margin: 0 4px;
        width: unset;
    }
    .message__logo:nth-of-type(2) {
        display: inline;
    }
    .message__logo-container {
        width: 35%;
        max-width: unset;
        min-width: unset;
    }
}
