.message {
    max-width: 100%;
}

.message__messaging {
    padding: 0.5% 1% 0;
}

.message__logo {
    max-width: unset;
    max-height: 125%;
}

.message__logo-container {
    width: 28%;
    padding-right: 5%;
}

.message__messaging {
    width: 70%;
}

.message__headline {
    font-size: 15px;
    margin-bottom: 6px;
}

.message__sub-headline {
    font-size: 13px;
    color: #009cde;
    margin-bottom: 5px;
}

.message__disclaimer {
    font-size: 10px;
    margin-bottom: 3px;
}

.message__disclaimer .em {
    color: #666666;
}

@media (max-width: 290px) {
    .message__headline {
        font-size: 13px;
    }

    .message__sub-headline {
        font-size: 11px;
    }

    .message__disclaimer {
        font-size: 9px;
    }
}

@media (max-width: 200px) {
    .message__logo {
        max-width: 65%;
    }

    .message__logo-container {
        position: relative;
        width: 100%;
        height: auto;
        float: none;
        padding-top: 5px;
    }

    .message__messaging {
        width: 100%;
        float: none;
        padding: 2% 5% 5%;
    }
}
