.message__logo-container {
    width: 23%;
}

.message__messaging {
    width: 75%;
    padding: 1px 0;
    line-height: 0;
}

.message__promo-container {
    display: inline;
    line-height: 0;
}

.message__headline {
    font-size: 10px;
}

.message__sub-headline {
    display: inline;
    color: #009cde;
    font-size: 10px;
}

.message__disclaimer {
    display: inline;
    font-size: 9px;
}
