// i.e. instructions bullet color
$dark-blue: #003087;
// i.e. color of text in the calculator input field
$calc-input: #2c2e2f;
// i.e. instructions section background color
$instructions-background: #f5f7fb;
// i.e. finance terms disclaimer and legal disclosure
$legal-disclaimer: #687173;
// i.e. main terms header ($X.XX/mo. for X months)
$terms-header: #0c0c0c;
// i.e. terms details (Est. APR, Interest, Total, and their associated amounts)
$terms-details: #515354;
