// i.e. default instructions bullet color and primary pay monthly button color
$dark-blue: #003087;
// i.e. default link color (used in link to product list view) and secondary pay monthly button color
$light-blue: #0070ba;
// i.e. color of text in the calculator input field
$text-main: #2c2e2f;
// i.e. instructions section background color
$instructions-background: #f5f7fb;
// i.e. finance terms disclaimer and legal disclosure
$legal-disclaimer: #6b6e76;
// i.e. main terms header ($X.XX/mo. for X months)
$terms-header: #0c0c0c;
// i.e. terms details (Est. APR, Interest, Total, and their associated amounts)
$terms-details: #515354;
// i.e. terms bullet
$terms-bullet: #c4c4c4;
// i.e. product list view background
$beige-background: #f1efea;
