// Primary near-black text color used throughout the modal.
$text-main: #001435;
// i.e. generic offer accordion border color (DE).
$light-gray: #dbdddd;
// i.e. Legal disclaimer text and offer text ($X.XX/mo. for X months).
$gray: #515354;
// i.e. terms bullets used in the No Interest view.
$dark-gray: #545d68;
// i.e. Pay Monthly bottom border between offer cards
$offer-border-gray: #c6c6c6;
// i.e. The header and footer background color.
$beige: #faf8f5;
// Lander background
$lander-beige: #e6e0d9;
// v4 lander background
$v4-lander-gray: #e9e9e9;
// v4 header/footer background
$v4-gray: #f6f6f6;
// QL background color
$ql-gray: #f1f2f3;
// QL border color
$ql-dark-gray: #cdd0d4;
// QL button color
$ql-blue: #0544b6;
// Primary Pay Monthly button color
$dark-blue: #003087;
// Primarily used for links and button hover color
$light-blue: #0070e0;
$white: white;
$black: black;
$spinner-green: #00ff7f;
