@font-face {
    font-family: 'PayPalOpen-Bold';
    src: url(https://www.paypalobjects.com/paypal-ui/fonts/PayPalOpen-Bold.woff) format('woff');
}

@font-face {
    font-family: 'PayPalOpen';
    src: url(https://www.paypalobjects.com/paypal-ui/fonts/PayPalOpen-Regular.woff2) format('woff');
}
