$sticky-header-height-mobile: 50px;
$sticky-header-height-tablet-desktop: 60px;
$sticky-header-radius: 40px;

$content-wrapper-max-width-tablet: 640px;
$content-wrapper-max-width-desktop: 840px;
$content-wrapper-max-width-api-iframe: 100vw;
$content-wrapper-border-radius: 10px;

$paypal-open: PayPalOpen, Helvetica, Arial, Sans-Serif;
