@media (min-aspect-ratio: 80/11) {
    .message__headline {
        display: inline;
        padding-right: 0;
        margin-right: 0;
    }

    .message__headline .tag--medium .br:first-child {
        display: inline;
    }

    .message__logo-container {
        flex-basis: 12%;
        margin-bottom: -6px;
        margin-left: 5px;
    }

    .message__logo:nth-of-type(1) {
        width: 50%;
        margin-left: 10px;
        margin-right: 0;
    }

    .message__disclaimer {
        vertical-align: super;
        margin-left: 4px;
    }
}

@media (min-aspect-ratio: 80/11) and (min-width: 501px) {
    .message__logo-container {
        flex-basis: 22%;
    }

    .message__logo:nth-of-type(1) {
        width: 15%;
        margin-right: 5%;
    }

    .message__logo:nth-of-type(2) {
        display: inline-block;
        width: 50%;
    }

    .message__disclaimer {
        font-size: 0.95rem;
    }
}

@media (min-aspect-ratio: 80/11) and (min-width: 375px) {
    .message__headline > span:nth-of-type(3) {
        display: inline;
    }
}

@media (min-aspect-ratio: 80/11) and (min-width: 351px) {
    .message__headline {
        font-size: 3vw;
    }
}

@media (min-aspect-ratio: 80/11) and (max-width: 350px) {
    .message__headline {
        line-height: 1.1rem;
    }
}

@media (min-aspect-ratio: 80/11) and (min-width: 360px) {
    .message__messaging {
        line-height: 1.3rem;
    }
}
