.message__logo-container {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 0;
}

.message__messaging {
    height: 100%;
    transform: translateY(-80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message__headline {
    font-size: 1.1rem;
    margin-bottom: 10%;
    padding-top: 10%;
}

.message__disclaimer {
    font-size: 1rem;
}

.message__disclaimer span.multi:nth-of-type(1) {
    display: inline;
}

.message__headline .tag--xsmall {
    display: none;
}

.message__sub-headline {
    font-size: 1.2rem;
}

@media (min-height: 500px) {
    .message__headline {
        font-size: 1.7rem;
    }
}

@media (aspect-ratio: 1/2) {
    .message__messaging {
        transform: translateY(-40px);
    }

    .message__headline {
        font-size: 20px;
        line-height: 30px;
    }

    .message__sub-headline {
        display: none;
    }

    .message__disclaimer {
        bottom: 10%;
    }
}
