.message {
    min-width: 118px;
}

.message__messaging {
    padding: 5px 3px 0 3px;
}

.message__headline {
    font-size: 10px;
    margin-bottom: 4px;
}

.message__sub-headline {
    font-size: 9px;
}

.message__disclaimer {
    font-size: 8px;
}
