.message__content {
    display: inline-block;
}

.message__messaging {
    margin: 0;
}

.message__logo-container {
    display: inline;
    white-space: nowrap;
    margin: 0;
}
.message__logo-container::before {
    content: 'with ';
}

.message__logo {
    display: inline-block;
    width: 7rem;
    vertical-align: middle;
}

.message__headline .em {
    display: inline-block;
    white-space: nowrap;
}

.message__headline > span:nth-last-child(2)::after {
    content: ' ';
}
