.header-wrapper {
    .close {
        display: block;
        padding: 0;
        border: none;
        background: transparent;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
        pointer-events: all;
        margin: 0;

        svg {
            height: 40px;
            width: 40px;
        }

        path {
            stroke-width: 1px;
            transition: all 0.3s;
        }
    }
}
