.header-wrapper {
    .close {
        /* 
        Some close button attributes will need to be determined by locale:
            * border-color: white or black
            * path stroke: white or black
        */
        display: block;
        padding: 0;
        border: none;
        background: transparent;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
        pointer-events: all;
        margin: 0;
        &:focus {
            outline: none;
            border: 1px solid white;
            border-radius: 5px;
            transform: translate(1px, -1px);
        }
        svg {
            height: 44px;
            width: 44px;
            @media (max-width: 639px), (max-height: 539px) {
                height: 35px;
                width: 35px;
            }
        }
        path {
            stroke: white;
            stroke-width: 1px;
            transition: all 0.3s;
        }
    }
}
