// Windows scrollbar offset hack
.modal-wrapper {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // This prevents FF from allowing the wrapper to be scrollable
    // since it is animating from offscreen in the "hidden" part of
    // this container.
    // overflow: hidden;

    &::after {
        content: '';
        display: block;
        visibility: hidden;
        overflow-y: scroll;
    }
}

.modal-container {
    display: table-cell;
    width: 100%;
    position: relative;

    &.show {
        .wrapper {
            transform: translateY(0);
        }

        .overlay {
            opacity: 1;
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(108, 115, 120, 0.85);
    transition: opacity 350ms;
    opacity: 0;
    z-index: -1;
}

.overlay-side {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    // Important: This forces the wrapper to be the entire width of the screen
    // which is needed in Windows due ot the scrollbar offset hack used
    // on the parent container
    width: 100vw;
    height: 100vh;
    transition: transform 350ms;
    transform: translateY(100%);
}

.main {
    -webkit-overflow-scrolling: touch;
    /*overflow-scrolling: touch;*/
    -moz-overflow-scrolling: touch;
    position: relative;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0), 0 5px 15px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 350ms;
}
