.calculator {
    text-align: center;
    max-width: 300px;
    margin: auto;

    .title {
        text-align: center;
    }

    .instructions {
        color: #687173;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
    }

    .instructions::before {
        content: '';
        display: block;
        position: absolute;
        top: -0.7rem;
        width: 220px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 1px dotted #cbd2d6;
    }

    .form {
        width: 150px;
        margin: auto;
        padding: 0 2rem;
        font-size: 20px;
        position: relative;
    }

    .form:after {
        content: '€';
        position: absolute;
        top: 1px;
        right: 1.3rem;
    }

    .form.form--loading:after {
        opacity: 0.5;
    }

    .input {
        font-size: 20px;
        text-align: center;
        width: 100%;
        border: none;
    }

    .form.form--loading .input {
        opacity: 0.5;
    }

    @media only screen and (min-width: 436px) {
        .title {
            font-size: 1.1875rem;
        }

        .form {
            font-size: 1.5rem;
        }

        .form:after {
            top: -1px;
        }

        .input {
            font-size: 1.5rem;
        }
    }
}
