.carousel {
    border-radius: 0 0 100% 100%;
    width: 150%;
    background: #f6f7fb;
    overflow: auto;
    margin-left: -25%;

    .outer {
        max-width: 400px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 66.666666%;
    }

    .title {
        font-size: 20px;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .inner {
        white-space: nowrap;
        transition: transform 0.2s ease-out;
        font-size: 0;
        transform: translateX(0);
    }

    .item {
        display: inline-block;
        width: 100%;
        padding: 15px 30px 0;
        box-sizing: border-box;
        white-space: normal;
    }

    .item img {
        display: block;
        height: auto;
        max-width: 100%;
    }

    .image {
        margin: auto;
    }

    .text {
        text-align: center;
        max-width: 250px;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;
    }

    .indicators {
        padding: 0;
        text-align: center;
        position: relative;
        z-index: 2;
        margin-top: 0;
    }

    .indicators li {
        display: inline-block;
        margin: 0;
    }

    .bullet {
        cursor: pointer;
        display: block;
        border: none;
        background: none;
        height: 30px;
        width: 30px;
        position: relative;
        overflow: hidden;
    }

    .bullet:after {
        background-color: #aaaaaa;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .bullet.active:after {
        background-color: #0070ba;
    }

    .shadow {
        position: absolute;
        height: 100%;
        width: 100%;
        box-shadow: 0px -20px 20px 20px #f6f7fb inset;
        z-index: 1;
    }

    .arrows {
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 10px;
    }

    .arrow {
        border-radius: 100%;
        width: 3rem;
        height: 3rem;
        background: none;
        border: none;
        position: absolute;
        cursor: pointer;
    }

    .arrow:hover {
        background: #eee;
    }

    .arrow:focus {
        background: #eee;
        outline: none;
        border: 1px solid rgba(0, 112, 186, 0.5);
    }

    .arrow:after {
        content: '';
        position: absolute;
        width: 30%;
        height: 30%;
        border-top: 2px solid #cbd2d6;
        border-right: 2px solid #cbd2d6;
        top: 37%;
        left: 28%;
    }

    .arrow--prev {
        left: 10px;
        transform: rotate(-135deg);
    }

    .arrow--next {
        right: 10px;
        transform: rotate(45deg);
    }
}
