.finance-terms {
    position: relative;

    .table {
        width: 100%;
        font-size: 0.875rem;
    }

    .table td {
        padding: 2px 0;
    }

    .table td:last-child {
        text-align: right;
    }

    .divider {
        opacity: 0.3;
    }

    .header {
        text-align: center;
    }

    .error {
        text-align: center;
    }

    @media only screen and (min-width: 436px) {
        .table td {
            padding: 5px 0;
        }
    }
}
