$content-padding: 25px;
$line-height: 20px;

/* 
	'-foreground' => variable containing color for text itself
	'-background' => variable containing color for background behind text
	'-color' => variable containing color for an element
*/

/* Text Colors */
// header text
$primary-foreground: #ffffff;
// instructions text
$secondary-foreground: #000000;
// terms text
$tertiary-foreground: #6b6e76;

/* Background Colors */
// header background
$primary-background: url("data:image/svg+xml,%3Csvg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='376' height='233.812' viewBox='0 0 99.483331 61.862759' version='1.1' %3E%3Cpath id='path1037' style='fill:%23003ba4;fill-opacity:1;stroke-width:4.23333' d='M 99.483325,61.862811 0,61.862759 V 0 h 99.483322 z'/%3E%3Cpath id='path1035' style='fill:%2300318b;fill-opacity:1;stroke-width:4.23333' d='M 99.483323,14.632997 0,9.4128142 v 4.6129528 l 99.483323,6.335645 z'/%3E%3Cpath id='rect1024' style='fill:%23003698;fill-opacity:1;stroke-width:4.23333' d='m 0,14.025767 45.290411,2.884342 -22.159757,44.95265 H 0 Z'/%3E%3Cpath id='path1029' style='fill:%23004cbb;fill-opacity:1;stroke-width:4.23333' d='m 86.048221,0 h 13.435101 v 61.862812 l -43.674314,-5.3e-5 z'/%3E%3Cpath id='path1033' style='fill:%230053b8;fill-opacity:1;stroke-width:4.23333' d='m 79.410308,13.579707 20.073014,1.05329 v 5.728415 L 76.801426,18.916904 Z'/%3E%3C/svg%3E%0A");
// content background
$secondary-background: #ffffff;
// footer background
$tertiary-background: #f5f7fb;

/* Element Colors */
// 'Apply Now'
$primary-button-color: #142c8e;
// Close
$secondary-button-color: $primary-foreground;
// Instructions bullet
$primary-bullet-color: #142c8e;
// Terms bullet
$secondary-bullet-color: #c4c4c4;
