.message {
    max-width: 100%;
    min-width: 120px;
}

.message__logo-container {
    height: 108px;
}

.message__messaging {
    padding: 0 8% 5%;
}

.message__headline {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.1em;
}
.message__headline .em {
    margin-right: 0;
    display: block;
}

.message__sub-headline {
    font-size: 15px;
    margin-bottom: 40px;
    color: #009cde;
}

.message__disclaimer .em {
    color: #666666;
    display: block;
}

@media (max-width: 160px) {
    .message__headline {
        margin-bottom: 16px;
    }

    .message__sub-headline {
        margin-bottom: 16px;
    }
}
