.message__messaging {
    padding: 0.5% 1% 0%;
    width: 76%;
}

.message__logo-container {
    width: 23%;
}

.message__headline {
    font-size: 12px;
    margin-bottom: 5px;
}

.message__sub-headline {
    font-size: 11px;
    color: #009cde;
    margin-bottom: 4px;
}

.message__disclaimer {
    font-size: 9px;
    margin-bottom: 2px;
}

@media (max-width: 290px) {
    .message__messaging {
        margin-left: 3%;
        width: 74%;
    }
}
