.calculator {
    text-align: center;

    .title {
        margin-top: 0;
        color: white;
        font-weight: 500;
    }

    .input-wrapper {
        position: relative;
        display: inline-block;
        background: white;
        border: 1px solid #ccc;
        padding: 0.5rem 0.75rem;
        border-radius: 3px;
        font-size: 0.9rem;
        text-align: left;
        margin-bottom: 0.25rem;

        &:after {
            content: '€';
            position: absolute;
            right: 0.5rem;
            bottom: 0.5rem;
            font-size: 1rem;
        }

        .input {
            border: none;
            color: #2c2e2f;
            font-size: 1rem;
            margin-top: 0.25rem;
        }
    }

    .form {
        background: $header-background;
        padding-bottom: 2rem;
        padding-top: 0.5rem;
        transition: padding-top 0.2s ease-out;

        &.no-amount {
            padding-top: 2rem;
        }
    }

    &__range {
        color: white;
        font-size: 0.8rem;
    }
}
