.content {
    position: relative;
    background: transparent;
    box-sizing: border-box;
    padding-top: 0;
    background: white;
    display: flex;
    flex: 1 1 auto;

    p,
    li,
    .terms h3 {
        font-family:$PayPal-Big;
        color: #687173;
    }

    .d-inline-block {
        display: inline-block;
    }

    main {
        color: #687173;
        padding-top: 0;
    }

    .disclosure {
        font-size: 0.8rem;
        line-height: 1.8;
        padding-top: 1rem;
        padding-bottom:3rem;
        margin-top: 1rem;
    }

    .dashed-border {
        border-top: 1px dashed #9da3a6;
    }

    .instructions {
        text-align: center;
        flex: 1 1 auto;
    }

    .content-body {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        height:100%;
        padding: 1rem 1rem 0 1rem;
    }

    .switching-text {
        text-align:center;
        color:#515354;
        margin-top:3rem;
    }

    .switching-link {
        color:#1272eb;
        font-weight: bold;
        cursor:pointer;
    }

    .calculator {
        margin: 0 -1rem;
    }

    .gpl .switching-link, .pi30 .switching-link {
        border:0;
        white-space:normal;
        background-color: transparent;
        padding:0;
    }

    .product-list {
        height:100%;
        background-color: #f7f5f0;
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        align-content: space-between;
    
        .product-buttons {
            display:flex;
            flex-direction:column;
        }
    
        .product-button {
            width:100%;
            box-sizing: border-box;
            border:0;
            border-radius: 12px;
            background-color: white;
            padding:1.5em;
            margin:1em 0;
            display: flex;
            flex-direction: row;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04), 0px 1px 12px rgba(0, 0, 0, 0.08);
            text-align: left;

            h1 {
                font-size:1.2em;
                font-weight:bold;
                margin:0 0 0.7rem;
                line-height:1.2rem;
            }
            p {
                font-family:$PayPal-Big;
                font-size:1em;
                color:black;
                margin:0;
                line-height:1.2rem;
            }
            div {
                height:100%;
                display:flex;
                flex-direction:column;
                justify-content: space-between;
            }
            svg {
                min-height:100%;
                margin:0 0 0 auto;
                padding:0 0 0 1rem;
                max-height:75px;
            }
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        margin-top:1rem;
    }

    .pi30 {
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        align-content: space-between;

        .pi30-subheadline {
            font-weight:400 !important
        }

        .instructions {

            p {
                width:100%;
                padding-left:1.5rem;
                font-size:1.2rem;
                text-align:left;
                color:black;
                margin:0.2rem 0 1rem;
                line-height:1.3rem;
            }
        }

        .list-number {
            position:relative;
            height:1.7rem;
            width:1.7rem;
        
            div {
                position:relative;
                height:1.7rem;
                width:1.7rem;
                border-radius:50%;
                background-color: #DBD8D0;
            }
            span {
                width:1.7rem;
                margin:auto;
                text-align:center;
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                font-size:1rem;
                padding-bottom:0.2rem;
                color:#0C0C0D;
            }
        }

        .disclosure {
            color: #6B6E76;
        }
    }

    .gpl {
        background-color: #f7f5f0;
        padding-top:0;

        .switching-text {
            width:100%;
            text-align: center;
            margin-bottom:1rem;
        }
        .finance-terms__disclaimer {
            padding-bottom:2rem;
        }
    }

    @include desktop {
        .product-list {
            padding:3rem 0 1rem;

            .product-button {
                padding:1.5rem;
                margin-bottom:1.5rem;

                h1 {
                    font-size:1.3rem;
                }
                p {
                    font-size:1.1rem;
                    line-height:1.3rem;
                }
                svg {
                    width:80px;
                }
            }
        }

        .gpl > .instructions {
            padding: 0 2rem;
        }
    }    
}
