.content {
    position: relative;
    background: transparent;
    box-sizing: border-box;
    padding-top: 0;
    background: #f7f5f0;
    padding-bottom: 1rem;

    p,
    li,
    .terms h3 {
        color: #687173;
    }

    .d-inline-block {
        display: inline-block;
    }

    main {
        color: #687173;
        padding-top: 0;
    }

    .disclosure {
        border-top: 1px dashed #9da3a6;
        font-size: 0.8rem;
        line-height: 1.8;
        padding: 1rem 0 3rem;

        @include mobile {
            margin: 0 1rem;
        }
    }

    .instructions {
        text-align: center;
        padding: 2rem 1rem;
        flex: 1 1 100%;
    }

    .content-body {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }

    .calculator {
        margin: 0 -1rem;
    }

    .pp-button-wrapper {
        padding: 0.1rem 0.5rem;
        border-radius: 1rem;
        background: #ffc439;
        margin-right: 2px;

        img {
            vertical-align: bottom;
            height: 1rem;
        }
    }
}
