.header-container {
    background-color: $header-background;
    position: relative;

    h1 {
        font-size: 1.5rem;
        line-height: 35px;
        color: white;
        margin: 0.5rem auto;
    }

    h2 {
        font-size: 1.1rem;
        line-height: 28px;
        color: white;
        margin: auto;
    }

    h3 {
        font-size: 0.8rem;
        font-weight:normal;
        line-height: 0.8rem;
        color: white;
        margin: auto;
    }

    .header {
        max-width: 500px;
        margin: auto;
        z-index: 999;
        display: block;
        height: auto;
        padding: 30px 0;
        text-align: center;
    }

    .logo {
        display: inline-block;
        margin-bottom: 1rem;

        & img {
            height: 30px;
        }
    }

    .close {
        top: 5px;
        right: 5px;
        pointer-events: all;

        svg {
            height: 40px;
            width: 40px;

            path {
                stroke: white !important;
            }
        }
    }

    @include mobile {
        text-align: center;

        h1 {
            margin: 0 auto;
            font-size: 26px;
            line-height: 30px;
            padding-bottom: 20px;
            max-width: 320px;
        }
        h2 {
            max-width: 320px;
        }
    }

    @include smallMobile {
        h1 {
            font-size: 20px;
            line-height: 22px;
            max-width: 320px;
        }
        h2 {
            max-width: 320px;
        }
    }

    .close {
        svg {
            height: 35px;
            width: 35px;
        }
    }
}

.header-wrapper {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    flex: 0 0 auto;
}
