.content-wrapper {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    margin: auto;
    height: 100%;
    // Important: This forces the wrapper to be the entire width of the screen
    // which is needed in Windows due to the scroll bar offset hack used
    // on the topmost parent container
    width: 100vw;
}

.content {
    padding-top: 0;
    position: relative;
    z-index: 50;
    background: white;
    flex: 1 1 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
}

.content-background {
    min-height: 100%;
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 640px;
}

main {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.content-column {
    width: 500px;
    max-width: calc(100% - 72px);
    margin: auto;
    box-sizing: border-box;
}

.modal-container.loading {
    .content-wrapper {
        overflow: hidden;
    }

    .transitional {
        filter: blur(3px);
    }
}

.top-overlay {
    position: fixed;
    height: 84px;
    left: 0;
    right: 0;
}

@include desktop {
    .content-background {
        margin: auto;
        width: 100%;
        box-shadow: 0px 10px 14px 1px rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        flex: 1 1 100%;
    }

    .content-wrapper {
        display: flex;
        justify-content: center;
    }

    .wrapper {
        opacity: 0;
        transform: translateY(5%);
        transition: transform 350ms ease, opacity 250ms ease;
    }

    &.show .wrapper {
        opacity: 1;
        transform: translateY(0%);
        transition: transform 350ms ease, opacity 250ms ease;
    }
}

@include mobile {
    .content-column {
        max-width: 400px;
        width: auto;
        padding: 0 12px;
    }

    .content-wrapper {
        height: calc(100% - 42px);
        padding-top: 42px;

        // Hide scrollbar at mobile sizes
        // TODO: Find a better way to fix scrollbar appearance issues
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .content-background {
        box-shadow: 1px 21px 34px 2px rgba(0, 0, 0, 0.56);
    }

    .overlay-side.left,
    .overlay-side.right {
        width: calc((100% - 612px) / 2) !important;
    }

    .overlay-side.bottom {
        display: none;
    }
}

// Necessary to cope with improper handling of sizing nested flexboxes in IE11
// TODO: Remove when IE is no longer supported
@include ie11 {
    .content-wrapper,
    .content-background,
    .content,
    .main {
        display: block;
    }

    .content {
        min-height: 100vh;
    }
}
