@media (min-aspect-ratio: 80/11) {
    .message__headline {
        font-size: 2vw;
        display: inline;
        line-height: 1.2em;
    }
    .message__logo:nth-of-type(2) {
        display: none;
    }
}

@media (min-aspect-ratio: 80 / 11) and (min-width: 500px) {
    .message__headline span.multi:nth-of-type(2) {
        display: inline;
    }
    .message__disclaimer {
        font-size: 1.5vw;
        display: block;
    }
    .message__disclaimer > span.tag--large {
        font-size: 2vw;
    }
}
@media (min-aspect-ratio: 80 / 11) and (min-width: 501px) {
    .message__logo-container {
        flex-basis: 22%;
    }
    .message__logo:nth-of-type(1) {
        width: 15%;
        margin-right: 5%;
    }

    .message__logo:nth-of-type(2) {
        display: inline-block;
        width: 50%;
    }
    .message__disclaimer {
        font-size: 1vw;
    }
    .message__disclaimer > span.tag--large {
        font-size: 2vw;
    }
    .message__disclaimer > span.tag--extra {
        font-size: 1.5vw;
    }
    .tag--default {
        font-size: 1.5vw;
    }
}
@media (min-aspect-ratio: 80 / 11) and (max-width: 250px) {
    .message__logo-container {
        margin: 0 12px;
        max-width: 6%;
    }
    .message__logo:nth-of-type(1) {
        margin: 0px;
        width: unset;
    }
    .message__logo:nth-of-type(2) {
        display: none;
    }
    .message__messaging {
        font-size: 0.6rem;
        padding: 0 2px;
        height: 200%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .message__headline {
        font-size: 2.5vw;
        position: relative;
        top: 0;
    }
    .message__disclaimer {
        line-height: 10px;
    }
    .message__disclaimer > span.tag--large {
        font-size: 2.5vw;
    }
    .tag--default {
        font-size: 0.3rem;
    }
    .message__promo-container {
        margin-right: 6px;
    }
}
