.message__disclaimer > span {
    text-decoration: none;
}

.message__disclaimer > .tag--default > span {
    font-weight: 500;
    color: #0070ba;
}

.message__headline > span:last-child > strong:last-child {
    font-style: normal;
    font-weight: bold;
}

.weak {
    transform: translateX(-90%);
    display: inline-block;
}
