.message__logo-container {
    display: none;
}

.message__headline > .tag--medium > span::before {
    content: 'Or ';
}

.message__headline .pp-text-logo::before {
    content: 'Pay';
    color: #003087;
    font-weight: 600;
    font-style: italic;
}

.message__headline .pp-text-logo::after {
    content: 'Pal ';
    color: #009cde;
    font-weight: 600;
    font-style: italic;
}

.message__headline > span:last-child > strong:last-child {
    color: #003087;
    font-style: italic;
    font-weight: bold;
}

.message__headline span.multi:nth-child(2) > span:first-child::after {
    content: ' Pay';
    color: #003087;
    font-weight: 600;
    font-style: italic;
    display: inline-block;
    transform: translateX(12%);
}

.message__disclaimer > .tag--default > span {
    font-weight: 500;
    color: #0070ba;
}

.product-name {
    color: #003087;
    font-weight: 600;
    font-style: italic;
}

.product-name::before {
    color: #009cde;
    content: 'Pal ';
}
