.message__messaging {
    display: inline-block;
    white-space: normal;
    flex: 0 0 auto;
}

.message__logo-container {
    display: inline;
    margin-right: 0.4rem;
}

.message__logo {
    display: inline-block;
    vertical-align: middle;
}

.message__logo:first-child {
    margin-right: 5px;
    margin-top: 2px;
}

.message__headline > .tag--medium .weak.br {
    white-space: nowrap;
}
