.calculator {
    .loading & {
        .content__wrapper-overflow & {
            filter: blur(3px);
            opacity: 0.6;
        }
    }

    transition: padding-top 0.2s ease-out;
    flex-grow: 1;
    padding-right: 25px;
    padding-bottom: 10px;

    @include desktop {
        margin-top: 25px;
        margin-bottom: 10px;
        padding-left: 30px;
        padding-right: 60px;
    }

    @include tablet {
        margin-top: 20px;
        margin-bottom: 10px;
        padding-right: 0px;
        width: 315px;
    }

    @include mobile {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    @include smallMobile {
        margin-top: 15px;
    }

    .title {
        color: $text-main;
        font-weight: 400;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 10px;

        @include desktop {
            @include lander {
                margin-top: 20px;
            }
        }
    }

    .input__wrapper {
        position: relative;
        display: inline-block;
        font-size: 0.9rem;
        text-align: left;
        margin-bottom: 0.25rem;

        .input__label {
            position: absolute;
            left: 0.5rem;
            top: 0.25rem;
        }

        .input__currency-symbol {
            position: absolute;
            right: 0;
            margin-top: 25px;
            font-size: 18px;
            margin-right: 10px;
        }

        .input {
            font-family: $paypal-open;
            background: white;
            border: 1px solid #ccc;
            border-radius: 3px;
            color: $text-main;
            font-size: 18px;
            padding: 1.75rem 0.5rem 0.25rem;

            &.empty-input {
                padding-top: 16px;
                padding-bottom: 16px;
                &::placeholder {
                    font-family: $paypal-open;
                    font-size: 14px;
                }
            }
        }
    }

    .form {
        text-align: left;

        @include tablet {
            // text-align: center;
        }
    }

    &__error {
        color: $text-main;
        font-size: 14px;
        margin-top: 10px;

        @include tablet {
            display: flex;
        }

        & > div {
            display: inline-flex;
            text-align: left;
            align-items: flex-start;
            max-width: 300px;

            @include desktop {
                margin: auto;
            }

            @include mobile {
                margin: auto;
            }
        }

        &.hide {
            margin-top: -20px;

            & > div {
                height: 0;
                overflow: hidden;
            }
        }

        svg {
            margin: 0 0.3rem 0 0;
        }
    }

    .finance-terms__disclaimer {
        color: $gray;
        font-size: 14px;
        line-height: 1.5;

        @include mobile {
            margin-top: 0px;
        }
        @include smallMobile {
            margin-top: 0px;
        }
    }
}
