@use "../globals/colors";
@use "../globals/mixins";
@use "../globals/variables";

.calculator {
    .loading & {
        .content__wrapper-overflow & {
            filter: blur(3px);
            opacity: 0.6;
        }
    }

    transition: padding-top 0.2s ease-out;
    flex-grow: 1;
    padding-right: 25px;
    padding-bottom: 10px;

    @include mixins.desktop {
        margin-top: 25px;
        margin-bottom: 10px;
        padding-left: 30px;
        padding-right: 60px;
    }

    @include mixins.tablet {
        margin-top: 20px;
        margin-bottom: 10px;
        padding-right: 0px;
        width: 315px;
    }

    @include mixins.mobile {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    @include mixins.smallMobile {
        margin-top: 15px;
    }

    &.border-checkout {
        @include mixins.tablet {
            width: auto;
            margin-bottom: 20px;
            border: 1px solid colors.$checkout-border;
            background-color: colors.$white;
            padding: 20px 20px 20px 20px;
            border-radius: 12px;
        }

        @include mixins.mobile {
            width: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            border: 1px solid colors.$checkout-border;
            background-color: colors.$white;
            padding: 20px 20px 20px 20px;
            border-radius: 12px;
        }

        @include mixins.smallMobile {
            width: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            border: 1px solid colors.$checkout-border;
            background-color: colors.$white;
            padding: 20px 20px 20px 20px;
            border-radius: 12px;
        }
    }

    .checkout & {
        @include mixins.tablet {
            margin-bottom: 0px;
        }

        @include mixins.mobile {
            margin-bottom: 0px;
        }
    }

    .form {
        .title {
            color: colors.$text-main;
            font-weight: 500;
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 15px;

            @include mixins.desktop {
                @include mixins.lander {
                    margin-top: 20px;
                }
            }

            &.checkout-title {
                font-weight: 600;
            }
        }

        .input__wrapper {
            position: relative;
            display: inline-block;
            font-size: 0.9rem;
            text-align: left;
            margin-bottom: 0.25rem;

            .input__label {
                position: absolute;
                left: 0.5rem;
                top: 0.25rem;

                .checkout & {
                    top: 0.5rem;
                    left: 0.9rem;
                }
            }

            .input__currency-symbol {
                position: absolute;
                right: 0;
                margin-top: 25px;
                font-size: 18px;
                margin-right: 10px;
            }

            .input {
                font-family: variables.$paypal-open;
                background: white;
                border: 1px solid colors.$checkout-border;
                border-radius: 16px;
                color: colors.$text-main;
                font-size: 18px;
                padding: 1.75rem 0.5rem 0.25rem;

                &.empty-input {
                    padding-top: 18px;
                    padding-bottom: 18px;
                    &::placeholder {
                        font-family: variables.$paypal-open;
                        font-size: 14px;
                    }
                }

                .checkout & {
                    font-size: 16px;
                    padding: 1.75rem 0.5rem 0.5rem 0.75rem;
                }
            }

            &.v5Design {
                @include mixins.tablet {
                    margin-right: 15px;
                }
                .input__label {
                    left: 12px;
                    top: 8px;
                }
                input {
                    width: 100%;
                    padding-left: 12px;
                    padding-bottom: 8px;
                    @include mixins.mobile {
                        padding-right: 0px;
                    }
                }
            }

            &.checkout {
                margin-right: 15px;
            }
        }

        &.v5Design {
            h4 {
                font-weight: 700;
            }
            label {
                color: colors.$v5-gray;
            }
            input {
                border: 1px solid colors.$v5-gray;
            }
            // @include tablet {
            display: flex;
            flex-direction: column;
            // }

            .calculator__error {
                & > div {
                    max-width: none;
                }
            }

            .input__wrapper--error {
                .input {
                    border-color: colors.$error-red;
                }
            }
        }

        &.v4Design,
        &.checkout {
            h3 {
                font-weight: 700;
            }
        }

        &.checkout {
            .input__wrapper {
                width: 100%;
            }

            .input {
                border-radius: 8px;
                width: 97%;
            }
        }

        .calculator__error {
            color: colors.$v5-gray;
            font-size: 14px;
            margin-top: 10px;

            @include mixins.tablet {
                display: flex;
            }

            & > div {
                display: inline-flex;
                text-align: left;
                align-items: flex-start;
                max-width: 317px;

                @include mixins.desktop {
                    margin: auto;
                }

                @include mixins.mobile {
                    margin: auto;
                }
            }

            &.hide {
                margin-top: -20px;

                & > div {
                    height: 0;
                    overflow: hidden;
                }
            }

            svg {
                margin: 0 0.3rem 0 0;
            }
        }
    }

    .finance-terms__disclaimer {
        color: colors.$gray;
        font-size: 14px;
        line-height: 1.5;

        @include mixins.mobile {
            margin-top: 0px;
        }
        @include mixins.smallMobile {
            margin-top: 0px;
        }

        &.v5Design {
            color: colors.$v5-gray;
            padding-top: 16px;
        }
    }

    &.v5Design {
        text-align: left;
        @include mixins.tablet {
            width: 88%;
        }
        @include mixins.mobile {
            width: 100%;
            padding-right: 0px;
        }

        .offer__wrapper {
            display: flex;
            flex-direction: column;
        }

        &.border-checkout {
            width: auto;
            padding-right: 35px;

            &.checkout {
                padding-left: 20px;
            }
        }
    }

    &.checkout {
        margin-top: -6px;
    }
}
