@import '../globals/mixins';

$webpage : 1640px;
$green500: #00CF92;
$grey300: #DBD8D0;
$grey600: #888;

.donut__single_payment {
    display: flex;
    flex-direction: column;

    &.donut__qualifying_payment {

        @include mobile {
            width: 70px;
        }

        width: 94px;

        svg {
            max-width: 85px;

            text {
                color: $terms-details;
                transform: translate(1px, 3px);
            }
        }
    }
    
    &.donut__non_qualifying_payment {
        @include mobile {
            width: 70px;
        }

        width: 72px;

        svg {
            max-width: 64px;
        }
    }

    svg {
        width: 100%;

        text {
            font-size: 0.5rem;
            line-height: 20px;
            font-family: PayPalSansBig;
            font-weight: 600;
            color: $terms-details;
        }

        .donut__background {
            stroke: $grey300;
        }

        .donut__percent {
            stroke: $green500;
        }
    }
    
    span {
        display: block;
        text-align: center;
        font-size: 14px;
        line-height: 20px;

        @media all and (min-width: $webpage) {
            font-size: 18px;
            line-height: 24px;
        }

        &.donut__payment {
            font-family: PayPalSansBig;
            font-weight: 600;

            @media all and (min-width: $webpage) {
                margin-top: 0.25rem;
            }
        }
        
        &.donut__timestamp {
            color: $terms-details;
        }
    }
}