@import '../globals/mixins';

.donut__single_payment {
    display: flex;
    flex-direction: column;

    svg {
        text {
            font-size: 0.5rem;
            line-height: 20px;
            font-family: PayPalSansBig;
            font-weight: 600;
            color: $terms-details;
        }
    }
    
    span {
        display: block;
        text-align: center;
        color: $terms-details;
        font-size: 0.875rem;
        
        &:first-of-type {
            font-family: PayPalSansBig;
            font-weight: 600;
        }
        
        .donut__timestamp {
            color: $terms-details;
        }
    }
}
