@import '../globals/mixins';

$webpage: 1640px;
$green500: #388c00;
$grey300: #dbd8d0;
$grey350: #bdbdbd;
$grey600: #888;
$donut-background: #0070e0;
$donut-text-v5: #545d68;

.donut__single_payment {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
        width: 70px;
    }

    width: 80px;

    svg {
        max-width: 50px;
    }
    &.donut__qualifying_payment {
        svg {
            text {
                color: $text-main;
                transform: translate(1px, 3px);
            }
        }
    }

    &:first-of-type {
        .donut__ {
            &payment {
                font-family: $paypal-open;
            }
            &timestamp {
                font-family: $paypal-open;
            }
        }
    }

    svg {
        width: 100%;

        text {
            font-size: 0.5rem;
            line-height: 20px;
            font-family: $paypal-open;
            font-weight: 600;
            color: $gray;
        }

        .donut__background {
            stroke: $grey300;
        }

        .donut__percent {
            stroke: $green500;
        }
        .donut__background__line {
            stroke: none;
        }
        @include smallHeightMobile {
            max-width: 60px;
        }
    }

    span {
        display: block;
        text-align: center;
        font-size: 1rem;
        line-height: 20px;

        .checkout & {
            line-height: 17px;
        }

        @media all and (min-width: $webpage) {
            font-size: 0.9rem;
            line-height: 22px;
        }

        &.donut__payment {
            font-family: $paypal-open;
            color: $text-main;
            font-size: 0.9rem;
            margin-top: 0.3rem;

            @media all and (min-width: $webpage) {
                margin-top: 0.25rem;
            }
            &_v5 {
                @extend .donut__payment;
                color: $donut-text-v5;
            }

            .checkout & {
                font-size: 16px;
                margin-top: -0.5rem;
            }
        }

        &.donut__timestamp {
            color: $text-main;
            font-family: $paypal-open;
            font-size: 0.9rem;
            @include desktop {
                line-height: 22px;
            }
            white-space: nowrap;
            &_v5 {
                @extend .donut__timestamp;
                color: $donut-text-v5;
            }
        }
    }
    &_line {
        &:first-child {
            svg g {
                fill: $donut-background;
            }
            span.donut__timestamp_v5,
            span.donut__payment_v5 {
                color: $text-main;
            }
        }

        .svg {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            &::after {
                content: '';
                flex-grow: 1;
                border-top: 1px dashed $dark-gray;
                width: 100%;
                max-width: 50px;
                transform: translateX((97%));
                margin-top: -50%;
                margin-bottom: 50%;

                @include smallHeightMobile {
                    transform: translateX((100%));
                }
                @include mobile {
                    max-width: 45px;
                }
                @include smallMobile {
                    max-width: 35px;
                }
            }
        }    
        
        &__3 {
            @extend .donut__single_payment_line;
            .svg {
                &::after {
                    max-width: 85px;
                    transform: translateX((100%));
                    margin-left: 50%;

                    @include smallHeightMobile {
                        transform: translateX((75%));
                    }
                    @include mobile {
                        max-width: min(70px, calc(100vw * 0.2));
                        transform: translateX((67%));
                    }
                    @include smallMobile {
                        max-width: min(55px, calc(100vw * 0.3));
                        transform: translateX((57%));
                    }
                }
            }
        }
    }
}
