@import '../globals/mixins';

$webpage: 1640px;
$green500: #388C00;
$grey300: #dbd8d0;
$grey600: #888;

.donut__single_payment {
    display: flex;
    flex-direction: column;

    @include mobile {
        width: 70px;
    }

    width: 80px;

    svg {
        max-width: 64px;
    }

    &.donut__qualifying_payment {
        svg {
            text {
                color: $gray;
                transform: translate(1px, 3px);
            }
        }
    }

    svg {
        width: 100%;

        text {
            font-size: 0.5rem;
            line-height: 20px;
            font-family: PayPalOpen;
            font-weight: 600;
            color: $gray;
        }

        .donut__background {
            stroke: $grey300;
        }

        .donut__percent {
            stroke: $green500;
        }
    }

    span {
        display: block;
        text-align: center;
        font-size: 1rem;
        line-height: 20px;

        @media all and (min-width: $webpage) {
            font-size: 1rem;
            line-height: 22px;
        }

        &.donut__payment {
            font-family: PayPalOpen;
            font-weight: 600;
            margin-top: 0.3rem;

            @media all and (min-width: $webpage) {
                margin-top: 0.25rem;
            }
        }

        &.donut__timestamp {
            color: $gray;
            font-family: $paypal-open;
         
            @include desktop {
                font-size: 1rem;
                line-height: 22px;
            }
        }
    }
}
