.header {
    &__wrapper {
        overflow: hidden;
        flex: 0 0 auto;

        @include tablet {
            border-radius: 10px;
        }
        @include mobile {
            border-radius: 0px;
        }
    }

    &__container {
        position: relative;

        @include desktop {
            padding-bottom: 30px;
        }
        @include tablet {
            padding-bottom: 40px;
        }
        @include mobile {
            padding-bottom: 40px;
        }
    }

    &__background-wrapper {
        position: absolute;
        z-index: -9;

        svg {
            width: 900px;
            transform: translate(0, -30%);
        }
    }

    &__icons {
        justify-content: space-between;
        margin: auto;
        z-index: 999;
        display: flex;
        height: auto;
        text-align: center;

        //importing sticky styles
        @import './sticky';

        .logo {
            display: inline-block;
            margin-top: 1rem;
            margin-bottom: 0.5rem;

            &__wrapper {
                padding: 15px 25px 0px;

                @include desktop {
                    padding: 0px 25px 0px;
                    display: flex;
                    justify-content: center;
                }

                @include tablet {
                    padding: 0px 25px 0px;
                    display: flex;
                    justify-content: center;
                }

                .pp-logo {
                    & img {
                        height: 30px;

                        @include desktop {
                            height: 44px;
                        }

                        @include tablet {
                            height: 40px;
                        }

                        @include mobile {
                            height: 35px;
                        }
                    }
                }
            }
        }

        .close {
            top: 5px;
            right: 5px;
            pointer-events: all;
            background: transparent;
            border: none;
            cursor: pointer;

            @include desktop {
                display: flex;
                justify-content: flex-end;
            }

            @include tablet {
                display: flex;
                justify-content: flex-end;
            }

            svg {
                height: 48px;
                width: 48px;

                @include desktop {
                    margin: 0px;
                }

                @include tablet {
                    margin: 0px;
                }

                path {
                    stroke: white !important;
                    stroke-width: 2.2;
                }
            }
        }
    }

    &__content {
        @include desktop {
            padding-bottom: 40px;
        }
        @include tablet {
            width: 100%;
            padding-bottom: 40px;
        }

        h1 {
            font-size: 2rem;
            line-height: 36px;
            text-align: left;
            color: white;
            margin: auto;

            @include desktop {
                text-align: center;
            }

            @include tablet {
                max-width: 315px;
                text-align: center;

                .lander & {
                    max-width: 100%;
                }
            }

            @include mobile {
                padding: 10px 25px 0px;
            }

            @include smallMobile {
                font-size: 1.7rem;
            }
        }

        h2 {
            font-size: 1.1rem;
            line-height: 24px;
            text-align: left;
            color: white;
            margin: 0px;

            @include desktop {
                margin-top: 10px;
                text-align: center;
            }

            @include tablet {
                font-size: 1rem;
                max-width: 315px;
                margin: 1rem auto 0;
                text-align: center;

                .lander & {
                    max-width: 100%;
                }
            }

            @include mobile {
                padding: 10px 25px 25px;
                font-size: 1rem;
                line-height: 20px;
            }
        }
    }
}
