// inline-link, Singular; the component InlineLinks provides multiple links in a wall of text,
// but the class is applied to only one <a> element
.inline-link {
    text-decoration: underline;
    color: $light-blue;
    font-family: $paypal-open;
    font-weight: 600;

    &.checkout {
        font-weight: 400;
    }

    &::before {
        content: ' ';
        visibility: hidden;
    }

    &::after {
        content: ' ';
        visibility: hidden;
    }
}
