@use "../globals/colors";
@use "../globals/variables";

// inline-link, Singular; the component InlineLinks provides multiple links in a wall of text,
// but the class is applied to only one <a> element
.inline-link {
    text-decoration: underline;
    color: colors.$light-blue;
    font-family: variables.$paypal-open;
    font-weight: 600;

    &::before {
        content: ' ';
        visibility: hidden;
    }

    &::after {
        content: ' ';
        visibility: hidden;
    }
}
