.instructions {
    text-align: left;
    box-sizing: border-box;

    @include desktop {
        padding-left: 30px;
    }

    @include tablet {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    ol {
        padding: 15px 0px 0px;
        @include desktop {
            padding: 25px 0px 0px;
        }
        @include tablet {
            max-width: 315px;
        }
        &.collapsed {
            @include desktop {
                width: 34%;
            }
        }
    }
    li {
        color: black;
        list-style: none;
        font-size: 0.9rem;

        @include desktop {
            padding-bottom: 25px;
        }

        @include tablet {
            padding-bottom: 32px;
        }

        @include mobile {
            padding-bottom: 25px;
        }
        @include smallMobile {
            padding-bottom: 35px;
        }
    }

    .instructions__item-wrapper {
        display: flex;
        flex-direction: row;

        &:last-child {
            li {
                @include tablet {
                    padding-bottom: 0px;
                }
                @include mobile {
                    padding-bottom: 0px;
                }
            }
        }
    }

    .instructions__bullet {
        display: flex;
        justify-content: center;
        font-size: 15px;
        font-family: PayPalSansBig, Helvetica, Arial, Sans-Serif;
        color: white;
        height: 25px;
        width: 25px;
        min-width: 25px;
        min-height: 25px;
        max-width: 25px;
        max-height: 25px;
        border-radius: 100%;
        background: $dark-blue;
    }

    @include lander {
        @include tablet {
            margin: 0px;
        }
        @include mobile {
            margin: 0px;
        }
    }
}
