.instructions {
    text-align: left;
    box-sizing: border-box;

    @include desktop {
        padding-left: 30px;
    }

    @include tablet {
        width: 100%;
        justify-content: center;
    }

    ol {
        @include desktop {
            padding: 0px;
        }

        @include mobile {
            padding: 0px;
        }
        &.ppc {
            @include mobile {
                margin-top: -11px;
                margin-bottom: 0px;
            }
        }
    }

    li {
        color: $text-main;
        list-style: none;
        line-height: 24px;
        font-size: 18px;
        padding-bottom: 16px;
    }
    h2 {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        color: $text-main;
        margin-left: 42px;
        margin-top: 10px;

        @include desktop {
            margin-bottom: 10px;

            br {
                display: none;
            }
        }

        @include tablet {
            margin-left: 32px;
            @include lander {
                max-width: 100%;
            }

            br {
                display: none;
            }
        }

        @include mobile {
            margin-bottom: 5px;
            margin-left: 0px;
            max-width: 84%;
        }

        @include smallMobile {
            max-width: 81%;
        }
    }
    .subheadline_p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: $text-main;
        margin: 0px;

        @include desktop {
            margin-top: 0px;
            margin-left: 32px;
            margin-bottom: 30px;
        }

        @include tablet {
            margin-top: 10px;
            margin-left: 32px;
            margin-bottom: 10px;
        }

        @include mobile {
            padding-bottom: 10px;
        }
        @include smallMobile {
            font-size: 1rem;
        }
    }
    .instructions__item-wrapper {
        display: flex;
        flex-direction: row;

        &:last-child {
            li {
                @include tablet {
                    padding-bottom: 0px;
                }
                @include mobile {
                    padding-bottom: 0px;
                }
            }
        }
    }

    .instructions__bullet {
        font-size: 18px;
        color: $text-main;
        margin-right: 0.7rem;

        span {
            position: relative;
            z-index: 1;
        }
    }

    @include lander {
        @include tablet {
            margin: 0px;
        }
        @include mobile {
            margin: 0px;
        }
    }
}
