@keyframes shimmer {
    0% {
        background-position: -2000px 0;
    }
    100% {
        background-position: 0 0;
    }
}

.offer {
    &__container {
        &.shimmer {
            &:first-child {
                margin-top: 0px;
            }
            &:not(:last-child)::after {
                content: '';
                border-bottom: 2px solid rgba(196, 196, 196, 0.2);
                display: block;
                margin-top: 25px;
                margin-bottom: 25px;

                @include mobile {
                    margin-top: 20px;
                    margin-bottom: 5px;
                }
            }
            @include tablet {
                &:first-child {
                    margin-top: 35px;
                }
                &:last-child {
                    margin-bottom: 20px;
                }
            }
        }
    }

    &__field-loading {
        height: 500px;
        position: relative;
        background: #eee;
        height: 20px;
        margin: 4px 0;
        animation: shimmer 2s linear infinite;
        background: linear-gradient(to bottom right, #f1efea 21%, #e4e0d6 25%, #f1efea 29%);
        background-size: 3000px 1000px;
        width: 100%;
    }

    &__col {
        flex-grow: 1;

        .shimmer & {
            margin-right: 25px;

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

.accordion {
    &__header-container {
        &.loading {
            width: auto;
        }
    }
    &__container {
        &:first-child {
            &.shimmer {
                margin-top: 25px;

                @include mobile {
                    margin-top: 8px;
                }
            }
        }
    }
}

.checkout {
    .offer__field-loading {
        height: 500px;
        position: relative;
        background: #eee;
        height: 20px;
        margin: 4px 0;
        animation: shimmer 2s linear infinite;
        background: linear-gradient(to bottom right, #cdd0d4 21%, #e9e9e9 25%, #cdd0d4 29%);
        background-size: 3000px 1000px;
        width: 85%;
    }
}