@use "../globals/mixins";

// Windows scrollbar offset hack
.modal-wrapper {
    --safe-area-top: env(safe-area-inset-top);
    display: flex;
    position: absolute;
    top: var(--safe-area-top, 0px);
    left: 0;
    width: 100%;
    height: calc(100% - var(--safe-area-top, 0px));

    @include mixins.lander {
        @include mixins.mobile {
            position: fixed;
        }
    }
}
