@use "../globals/mixins";

// Windows scrollbar offset hack
.modal-wrapper {
    display: flex;
    position: absolute;
    top: env(safe-area-inset-top, 0px);
    left: 0;
    width: 100%;
    height: 100%;

    @include mixins.lander {
        @include mixins.mobile {
            position: fixed;
        }
    }
}
