@use "../globals/colors";
@use "../globals/mixins";
@use "../globals/variables";

strong {
    font-family: variables.$paypal-open;
    color: colors.$text-main;
}

.offer {
    &__container {
        &:first-child {
            margin-top: 16px;
        }

        &:not(:last-child)::after {
            content: '';
            border-bottom: 1px solid colors.$offer-border-gray;
            display: block;
            margin-top: 20px;
            margin-bottom: 20px;

            .checkout & {
                margin-top: 15px;
            }

            @include mixins.mobile {
                margin-top: 20px;
                margin-bottom: 5px;
            }
        }

        &:last-child {
            margin-bottom: 0px;
        }

        @include mixins.desktop {
            &:last-child {
                margin-bottom: 20px;
            }
        }

        @include mixins.tablet {
            &:first-child {
                margin-top: 35px;

                .checkout & {
                    margin-top: 25px;
                }
            }
            &:last-child {
                margin-bottom: 20px;

                .checkout & {
                    margin-bottom: 15px;
                }
            }
        }

        @include mixins.mobile {
            &:last-child {
                margin-bottom: 20px;

                .checkout & {
                    margin-bottom: 15px;
                }
            }
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        &:first-child {
            padding-bottom: 10px;
        }

        @include mixins.mobile {
            &:first-child {
                padding-bottom: 10px;
            }

            .checkout & {
                font-weight: bold;
            }
        }
    }
    &__field-header {
        font-size: 18px;
        color: colors.$text-main;
        font-weight: bold;
        @include mixins.mobile {
            font-size: 18px;
            margin-top: 16px;
        }
        @include mixins.smallMobile {
            font-size: 1rem;
        }

        .checkout & {
            font-size: 16px;
        }
    }

    &__field-col {
        display: inline-block;
        max-width: 33.33%;

        &:not(:last-child) {
            flex-grow: 1;
        }
    }

    &__field-title {
        display: flex;
        font-size: 18px;
        color: colors.$v5-gray;
        margin: 0px;
        @include mixins.smallMobile {
            font-size: 18px;
        }

        &:is(strong) {
            color: colors.$text-main;
            font-weight: bold;
        }

        .checkout & {
            font-size: 16px;
            color: colors.$text-main;
            font-weight: bold;
        }
    }

    &__field-value {
        font-size: 18px;
        color: colors.$v5-gray;
        margin: 0px;
        @include mixins.mobile {
            font-size: 18px;
        }
        @include mixins.smallMobile {
            font-size: 0.9rem;
        }

        &:is(strong) {
            color: colors.$text-main;
            font-weight: bold;
        }

        .checkout & {
            font-size: 16px;
            color: colors.$text-main;
            font-weight: bold;
        }
    }
}
