@use '../globals/colors';
@use '../globals/mixins';

.preapproval-disclaimer {
    text-align: left;
    box-sizing: border-box;

    @include mixins.desktop {
        padding-left: 30px;
    }

    @include mixins.tablet {
        width: 100%;
        justify-content: center;
    }

    ul {
        list-style: disc;
        @include mixins.desktop {
            padding: 0px;
        }

        @include mixins.mobile {
            padding: 0px;
        }
        &.ppc {
            @include mixins.mobile {
                margin-top: -11px;
                margin-bottom: 0px;
            }
        }
        .preapproval-disclaimer__item-wrapper {
            display: list-item;
        }
        li {
            margin-left: 0.6rem;

            @include mixins.desktop {
                margin-left: 0.6rem;
            }
            @include mixins.mobile {
                margin-left: 1.2rem;
            }

            &:last-child {
                padding-bottom: 0px;
            }
        }
    }

    li {
        color: colors.$black;
        line-height: 20px;
        font-size: 14px;
        padding-bottom: 16px;
    }
    h2 {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        color: colors.$text-main;
        margin-left: 42px;
        margin-top: 22px;

        @include mixins.desktop {
            margin-bottom: 10px;

            br {
                display: none;
            }
        }

        @include mixins.tablet {
            margin-left: 32px;
            @include mixins.lander {
                max-width: 100%;
            }

            br {
                display: none;
            }
        }

        @include mixins.mobile {
            margin-bottom: 5px;
            margin-left: 0px;
        }

        @include mixins.smallMobile {
            font-size: 1rem;
        }
    }
    .subheadline_p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        text-align: left;
        color: colors.$dark-gray;
        margin: 0px;

        @include mixins.desktop {
            margin-top: 0px;
            margin-left: 32px;
            margin-bottom: 30px;
        }

        @include mixins.tablet {
            margin-left: 32px;
            margin-bottom: 30px;
        }

        @include mixins.mobile {
            padding-bottom: 20px;
        }

        @include mixins.smallMobile {
            max-width: 67%;
        }

        span {
            white-space: nowrap;
        }
    }

    @include mixins.lander {
        @include mixins.tablet {
            margin: 0px;
        }
        @include mixins.mobile {
            margin: 0px;
        }
    }
    &.checkout {
        h2 {
            margin-left: 0px;
        }

        ul {
            padding-left: 5px;
        }

        border: 1px solid colors.$checkout-border;
        border-radius: 12px;
        margin-bottom: 1rem;
        padding: 6px 16px 6px 16px;
        @include mixins.lander {
            width: 430px;
            margin-bottom: 0;

            @include mobile {
                width: auto;
            }
        }
    }
    &__privacy {
        font-size: 14px;
        line-height: 16px;
        color: $black;
        margin-top: 12px;
        margin-bottom: 20px;

        span:nth-child(2) {
            font-weight: 600;
        }
    }
}
