&.sticky,
&.unsticky {
    .lander & {
        display: none;
    }
}

@include desktop {
    display: flex;
    flex-direction: column-reverse;

    &.sticky,
    &.unsticky {
        position: fixed;
        transform: translateY(0px);
        top: 5vh;
        width: 840px;
        border-radius: 10px 10px 0px 0px;
        flex-direction: row;
        animation-duration: 0.25s;

        .logo__wrapper {
            padding-top: 10px;
        }
    }

    &.sticky {
        animation-name: slide-in-desktop;
    }

    &.unsticky {
        animation-name: slide-out-desktop;
    }
}

@include tablet {
    display: flex;
    flex-direction: column-reverse;

    &.sticky,
    &.unsticky {
        position: fixed;
        top: 0px;
        width: 640px;
        flex-direction: row;
        transform: translateY(0px);
        animation-duration: 0.25s;

        .logo__wrapper {
            padding-top: 10px;
        }
    }

    &.sticky {
        animation-name: slide-in-desktop;
    }

    &.unsticky {
        animation-name: slide-out-desktop;
    }
}

@keyframes slide-in-mobile {
    0% {
        transform: translate(0, -54px);
        opacity: 0.25;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes slide-in-desktop {
    0% {
        transform: translate(0, 0);
        opacity: 0.25;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes slide-out-mobile {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, -54px);
        opacity: 0;
    }
}

@keyframes slide-out-desktop {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0px);
        opacity: 0;
    }
}

&.sticky {
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    background-color: $header-background;
}

&.unsticky {
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

// scroll sticky styles
@include mobile {
    &.sticky,
    &.unsticky {
        position: fixed;
        top: 0;
        width: 100%;
        transform: translate(0, -54px);
        animation-duration: 0.3s;
    }
    &.sticky {
        animation-name: slide-in-mobile;
    }
    &.unsticky {
        animation-name: slide-out-mobile;
    }
}
