.finance-terms__disclaimer {
    font-size: 0.8rem;
    @include tablet {
        font-size: 0.75rem;
    }
    @include mobile {
        font-size: 0.8rem;
        margin-top: 0px;
    }
    @include smallMobile {
        font-size: 0.7rem;
        margin-top: 0px;
    }
}
