@import '../globals/colors';
@import '../globals/mixins';

.tile {
    // normalize button before styling it
    border: 0;
    margin: 0;
    font-size: 100%;
    overflow: visible;
    text-align: left;
    text-transform: none;
    -webkit-appearance: button;

    // actual button styles
    width: 100%;
    height: 98px;
    padding: 12px 12px 15px 20px;
    border-radius: 12px;
    margin-bottom: 31px;
    background: $white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04), 0px 1px 12px rgba(0, 0, 0, 0.08);
    cursor: pointer;

    &.v5Design {
        box-shadow: none;
    }
    &:hover {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04), 1px 4px 0px rgba(0, 0, 0, 0.08);
    }

    &:first-of-type {
        margin-bottom: 16px;
    }

    @include mobile {
        height: 119px;
        min-width: 295px;
        max-width: 100%;
    }

    @include smallMobile {
        min-width: auto;
    }

    &__row {
        display: flex;

        .tile__col {
            .tile__header {
                display: flex;
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
                align-items: center;
                color: $text-main;
            }

            .tile__body {
                font-family: $paypal-open;
                margin-top: 5px;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                display: flex;
                align-items: center;
                color: $text-main;
            }
        }
    }

    &.v5Design {
        height: 100px;
    }

}
