@import '../globals/colors';
@import '../globals/mixins';

.tile {
    // normalize button before styling it
    border: 0;
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    overflow: visible;
    text-align: left;
    text-transform: none;
    -webkit-appearance: button;

    // actual button styles
    max-width: 337px;
    padding: 12px 12px 15px 20px;
    border-radius: 12px;
    margin-bottom: 21px;
    background: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04), 0px 1px 12px rgba(0, 0, 0, 0.08);
    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04), 1px 4px 0px rgba(0, 0, 0, 0.08);
    }

    @include mobile {
        max-width: 100%;
    }

    &__row {
        display: flex;

        .tile__col {
            &.tile__image {
                display: flex;
                align-items: center;
                margin-right: 20px;

                svg {
                    width: 72px;
                    height: 45px;
                }
            }

            .tile__header {
                display: flex;
                font-size: 28px;
                line-height: 36px;
                align-items: center;
                color: black;
            }

            .tile__body {
                margin-top: 5px;
                font-size: 14px;
                line-height: 20px;
                display: flex;
                align-items: center;
                color: $text-main;
            }
        }
    }
}
