@import '../../../styles/globals/colors';
@import '../../../styles/globals/mixins';

.donuts {
    display: flex;
    align-items: center;
    width: 100%;

    @include desktop {
        min-height: 5em;
        top: 0;
        margin-bottom: 0px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        padding: 0 20px;

        @include desktop {
            transform: translate(0px, 1rem);
            position: relative;
            top: 30px;
        }

        @include tablet {
            max-width: 320px;
        }

        @include smallMobile {
            padding: 0px;
        }
    }

    @include lander {
        @include tablet {
            border-radius: 100px 0px 0px 0px;
        }
    }
}
