@use '../../../styles/globals/colors';
@use '../../../styles/globals/mixins';
@use '../../../styles/globals/variables';

.content__body {
    .donuts {
        display: flex;
        align-items: center;
        width: 100%;

        @include mixins.desktop {
            min-height: 5em;
            top: 0;
            margin-bottom: 0px;
        }

        &__container {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            max-width: 360px;
            margin: 0 auto;
            padding: 0 20px 15px 20px;

            @include mixins.desktop {
                transform: translate(0px, 1rem);
                position: relative;
                top: 30px;
            }

            @include mixins.tablet {
                max-width: 400px;
            }

            @include mixins.mobile {
                padding: 0 0 15px;
                justify-content: space-between;
            }

            @include mixins.smallMobile {
                padding: 0px;
            }

            .checkout & {
                padding: 0px;
                justify-content: space-between;
            }

            .v5Design & {
                @include mixins.tablet {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .dashed-line-0 {
        border-bottom: 1px dashed colors.$dark-gray;
        width: 100%;
        max-width: 95px;
        height: 1px;
        position: absolute;
        left: 35%;
        top: 3.4%;
        transform: translate(-50%, -50%);

        @include mixins.lander {
            max-width: 130px;
            left: 37%;
            top: 3.5%;
        }

        @include mixins.mobile {
            z-index: 9;
            max-width: 90px;
            height: 1px;
            left: 35%;
            top: 3.4%;
            transform: translate(-50%, -50%);
        }
    }

    .dashed-line-1 {
        border-bottom: 1px dashed colors.$dark-gray;
        width: 100%;
        max-width: 100px;
        height: 1px;
        position: absolute;
        left: 65%;
        top: 3.4%;
        transform: translate(-50%, -50%);

        @include mixins.lander {
            max-width: 130px;
            left: 63%;
            top: 3.5%;
        }

        @include mixins.mobile {
            border-bottom: 1px dashed colors.$dark-gray;
            width: 100%;
            max-width: 90px;
            height: 1px;
            position: absolute;
            left: 65%;
            top: 3.4%;
            transform: translate(-50%, -50%);
        }
    }

    .dashed-line-2 {
        display: none;
    }

    .learnMoreLink__container {
        font-size: 14px;

        @include mixins.tablet {
            margin-top: 10px;
        }

        @include mixins.mobile {
            margin-top: 20px;
            margin-left: 0px;
        }
    }
    .button {
        padding: 15px 100px 15px 100px;

        @include mixins.mobile {
            padding: 15px 70px 15px 70px;
            width: 100%;
        }
    }
    .button__fixed-wrapper {
        @include mixins.fixedWrapper;
        bottom: 0;
        z-index: 1;

        @include mixins.tablet {
            border-radius: 0 0 variables.$content-wrapper-border-radius variables.$content-wrapper-border-radius;
            overflow: hidden;

            @include mixins.lander {
                border-radius: 0;
            }
        }
    }

    .button__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.08);

        .button.cta {
            padding: 12px 0;
        }

        .cta__content {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            white-space: nowrap;
        }

        @include mixins.tablet {
            background: white;
            margin-bottom: 0;
            max-width: variables.$content-wrapper-max-width-tablet;
            padding: 0 0 22px 0;
            .button {
                width: calc(80%);
            }
        }

        @include mixins.mobile {
            background: white;
            margin-bottom: 0;
            max-width: variables.$content-wrapper-max-width-tablet;
            padding: 0 0 22px 0;
            .button {
                width: calc(80%);
            }
        }

        @include mixins.apiIframe {
            max-width: variables.$content-wrapper-max-width-api-iframe;
        }

        &.checkout {
            .button {
                @include mixins.tablet {
                    width: auto;
                }
            }
        }
    }

    .prequal-fixed-offset {
        padding-bottom: 100px;
    }

    .spending-power__subtext {
        width: 80%;
        text-align: center;
        margin: 8px 0;
    }

    .checkout {
        background: colors.$white;

        .donuts__container {
            border: 1px solid colors.$checkout-border;
            border-radius: 12px;
            margin-bottom: 15px;
            margin-top: -25px;
            padding: 6px 16px 16px 16px;
            max-width: auto;
            margin-top: 10px;
        }
    }

    .button,
    .content__disclaimer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content__disclaimer {
        margin-top: 10px;
    }

    .disclosure {
        &.v5Design {
            color: colors.$v5-gray;
            padding-top: 24px;
        }

        &.checkout {
            padding-bottom: 60px;
            @include mixins.mobile {
                padding-bottom: 100px;
            }
        }

        .checkout & {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
