.message__disclaimer span.multi:nth-of-type(1) {
    display: none;
}

.message__disclaimer {
    bottom: 12%;
}

.message__headline span.multi:nth-of-type(2) {
    display: none;
}

.message__logo-container {
    width: 100%;
    margin-bottom: 5%;
}

.message__logo:nth-of-type(1) {
    width: 29px;
    max-width: 15%;
    margin-right: 0px;
}

.message__logo:nth-of-type(2) {
    width: 91px;
    max-width: 45%;
    margin-left: 3%;
}

.message__headline {
    font-size: 10vw;
    line-height: 1.55em;
}

.message__sub-headline {
    font-size: 1rem;
}

@media screen and (max-width: 240px) {
    .message__sub-headline {
        font-size: 0.8rem;
    }
}

@media (min-width: 140px) {
    .message__headline {
        font-size: 8.4vw;
    }

    .message__headline span.multi:nth-of-type(1) {
        display: none;
    }

    .message__headline span.multi:nth-of-type(2) {
        display: inline;
    }

    .message__disclaimer span.multi:nth-of-type(1) {
        display: inline;
    }
}
