.calculator {
    margin-bottom: 10px;

    .title {
        font-size: 1rem;
        font-weight: 600;
        text-align: left;
        margin-top: 0;
    }

    .form {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        box-sizing: border-box;
    }

    .form::before {
        content: '$';
        position: absolute;
        display: block;
        z-index: 9;
        color: black;
        top: 50%;
        left: 14px;
        transform: translateY(-50%);
    }

    .form.form--loading:before {
        opacity: 0.5;
    }

    .input {
        flex: 1 1 70%;
        -ms-flex: 1 1 70%;
        border: 1px solid #b7bcbf;
        border-radius: 5px;
        background: white;
        padding: 10px 10px 10px 25px;
        /*outline: none;*/
        font-family: PayPalSansSmall, Helvetica, Arial, Sans-Serif;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #2c2e2f;
        box-sizing: border-box;
        min-width: 0;
        margin-right: 1rem;
    }

    .form.form--loading .input {
        opacity: 0.5;
    }

    .input::-webkit-inner-spin-button,
    .input::-webkit-outer-spin-button {
        margin: 0;
        -webkit-appearance: none;
        -moz-appearance: textfield;
    }

    .input:invalid + .error-msg {
        visibility: visible;
        color: red;
    }

    .input:valid + .error-msg {
        visibility: hidden;
    }

    .button {
        flex: 1 1 20%;
    }
}
