.tabs {
    margin: auto;
    max-width: 400px;
    padding: 0 18px;
    white-space: nowrap;
    font-size: 0;
    display: flex;
}

.tab {
    cursor: pointer;
    display: block;
    padding: 30px 0px 15px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
    font-family: PayPalSansSmall, Helvetica, Arial, Sans-Serif;
    width: 50%;
    text-align: center;
    margin-top: 0;
    white-space: normal;
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    transition: color 0.3s;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: #0070ba;
        transform: scaleX(0);
        transition: transform 0.2s ease;
        transform-origin: center right;
    }

    &:nth-of-type(2)::after {
        transform-origin: center left;
    }

    &:hover {
        color: #0070ba;
    }

    &.selected {
        color: #005187;

        &::after {
            transform: scaleX(1);
        }
    }

    &:focus {
        outline: #005187 auto 5px;
    }
}

.tab-transition {
    position: relative;
}

.tab-transition-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    transition-delay: 0.3s;
    visibility: hidden;

    &.selected {
        position: relative;
        z-index: 2;
        background: white;
        opacity: 1;
        pointer-events: all;
        transition-delay: 0s;
        visibility: visible;
    }
}
