@use '../../../styles/globals/colors';
@use '../../../styles/globals/mixins';
@use '../../../styles/globals/variables';

.spinner {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    border-top: 4px solid colors.$spinner-green;
    width: 80px;
    height: 80px;
    opacity: 0;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    transition: opacity 0.2s;
    pointer-events: none;
    transform-origin: 0 0;
    z-index: 5;
}

.nav__link-prefix {
    padding: 0px;
    font-size: 14px;
    margin: 0px;
    @include mixins.tablet {
        margin: 0px 44px 0px 44px;
    }

    @include mixins.desktop {
        margin-left: 30px;
    }

    @include mixins.mobile {
        margin-top: 20px;
        margin-left: 0px;
    }
}

.button__fixed-wrapper {
    @include mixins.fixedWrapper;
    bottom: 0;
    z-index: 1;

    @include mixins.tablet {
        border-radius: 0 0 variables.$content-wrapper-border-radius variables.$content-wrapper-border-radius;
        overflow: hidden;

        @include mixins.lander {
            border-radius: 0;
        }
    }
}

.button__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button.cta {
        padding: 12px 0;
    }

    .cta__content {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        white-space: nowrap;
    }

    .spending-power__subtext {
        text-align: center;
        width: 80%;
        margin: 20px 0 8px 0;
    }

    @include mixins.tablet {
        background: white;
        margin-bottom: 0;
        max-width: variables.$content-wrapper-max-width-tablet;
        padding: 0 0 22px 0;
        .button {
            width: calc(80%);
        }
    }

    @include mixins.mobile {
        background: white;
        margin-bottom: 0;
        max-width: variables.$content-wrapper-max-width-tablet;
        padding: 0 0 22px 0;
        .button {
            width: calc(80%);
        }
    }

    @include mixins.apiIframe {
        max-width: variables.$content-wrapper-max-width-api-iframe;
    }
}

.prequal-fixed-offset {
    padding-bottom: 100px;
}

.checkout {
    background: colors.$white;
}
