.message__content {
    padding: 7%;
}

.message__logo-container {
    width: 50%;
    margin-bottom: 7%;
}

.message__headline {
    font-size: 12vw;
    line-height: 1.1em;
}

.message__headline span.multi:nth-of-type(2) {
    display: none;
}

.message__sub-headline {
    display: none;
}

.message__disclaimer {
    position: absolute;
    width: 80%;
    bottom: 7%;
    font-size: 8vw;
}

@media (min-width: 150px) {
    .message__headline {
        font-size: 11vw;
        line-height: 1.2em;
    }

    .message__sub-headline {
        font-size: 8.5vw;
    }

    .message__headline span.multi:nth-of-type(2) {
        display: inline;
    }

    .message__headline span.multi:nth-of-type(1) {
        display: none;
    }
    .message__disclaimer {
        font-size: 5.5vw;
    }
}

@media (min-width: 120px) {
    .message__content {
        padding: 10%;
    }

    .message__logo-container {
        margin-bottom: 10%;
    }

    .message__sub-headline {
        font-size: 8vw;
    }

    .message__disclaimer {
        font-size: 5.5vw;
    }
}

@media (min-width: 170px) {
    .message__headline {
        font-size: 8vw;
    }

    .message__sub-headline {
        font-size: 7vw;
        line-height: 1.3em;
        margin-top: 3%;
        display: block;
    }

    .message__disclaimer {
        font-size: 10px;
    }
}
