.message__disclaimer span.multi:nth-of-type(1) {
    display: none;
}

.message__headline span.multi:nth-of-type(2) {
    display: none;
}

.message__logo-container {
    /*width: 100%;*/
}

.message__logo:nth-of-type(1) {
    /*    width: 29px;
    max-width: 15%;
    margin-right: 0px;*/
}

.message__logo:nth-of-type(2) {
    /*width: 91px;
    max-width: 45%;
    margin-left: 3%;*/
}

.message__headline {
    font-size: 8vw;
    font-weight: 8vw;
    line-height: 1.33em;
}

.message__disclaimer {
    font-size: 1rem;
    line-height: 6.66vw;
}

/* 
    when to display other content
*/
@media (min-width: 140px) {
    .message__headline {
        /*font-size: 8.4vw;*/
        font-size: 1.1rem;
    }

    .message__headline span.multi:nth-of-type(1) {
        display: none;
    }

    .message__headline span.multi:nth-of-type(2) {
        display: inline;
    }

    .message__disclaimer span.multi:nth-of-type(1) {
        display: inline;
    }
}
@media (min-width: 240px) {
    .message__headline {
        font-size: 1.714rem;
    }
}
