@media (min-aspect-ratio: 10/41) {
    .message__logo-container {
        width: 100%;
        margin-top: 3%;
        margin-bottom: 0;
    }

    .message__messaging {
        height: 100%;
        transform: translateY(-80px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .message__headline {
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin-bottom: 10%;
    }

    .message__sub-headline {
        display: none;
    }

    .message__disclaimer {
        font-family: 'PayPal-Sans-Big';
        font-size: 1.2rem;
    }

    .message__headline .tag--xsmall {
        display: none;
    }

    .message__headline span:nth-of-type(1) {
        margin-right: -6px;
    }
}
