@media (min-aspect-ratio: 200/11) {
    .message__headline {
        /*font-size: 1.145rem;*/
        /*font-size: 1.8vw;*/
        font-size: 1.8vw;
        line-height: 1.72rem;
    }
    .message__disclaimer {
        font-size: 1rem;
        line-height: 1.43rem;
        margin-left: 7px;
    }

    .message__promo-container {
        width: unset;
    }

    .message__logo {
        max-width: 128px;
    }
    .message__logo:nth-of-type(1) {
        width: 18%;
        margin: 0 4px;
    }
    .message__logo:nth-of-type(2) {
        /*max-width: 86.625px;*/
        width: 60%;
        margin: 0 4px;
    }
    .message__logo-container {
        /*flex: unset;*/
        max-width: 12%;
        margin-right: 1.5vw;
        /*flex: 1 0 10%;*/
        /*height: 80%;*/
    }
    .message__messaging {
        /*flex: 1 0 35%;*/
        flex: unset;
        display: inline;
    }
    .message__content {
        display: flex;
        /*justify-content: start;*/
        justify-content: center;
        /*margin-left: 10%;*/
    }
    .message__sub-headline {
        /*display: none;*/
        /*display: none;*/
        margin: unset;
    }
    /*    .message__logo-container {
        margin-bottom: -3px;
        max-width: 12%;
        margin-right: 1.5vw;
    }*/
    .message__logo:nth-of-type(2) {
        display: inline-block;
        max-width: 60%;
    }
    .message__content {
        /*padding-left: 5%;*/
        /*justify-content: center;*/
        /*margin: 20%;*/
    }
}
@media (min-aspect-ratio: 200/11) and (max-width: 850px) {
    .message__headline {
        font-size: 2vw;
        /*line-height: 1.5vw;*/
        /*font-weight: 300;*/
    }
    .message__disclaimer {
        font-size: 1.5vw;
        /*line-height: 1.5vw;*/
    }
}
@media (min-aspect-ratio: 200 / 11) and (max-width: 599px) {
    /* hide "PayPal" if less than 600px */
    .message__logo:nth-of-type(2) {
        /*display: none;*/
    }
    .message__headline {
        font-size: 2.75vw;
    }
    .message__disclaimer {
        font-size: 2vw;
    }
    .message__logo-container {
        max-width: 18%;
    }
}
@media (min-aspect-ratio: 200/11) and (max-width: 350px) {
    .message__logo:nth-of-type(2) {
        display: inline-block;
    }
    .message__logo-container {
        max-width: 18%;
    }
}

/*
@media (min-aspect-ratio: 200/11) {
    .message__logo-container {
        margin-bottom: -3px;
        max-width: 12%;
        margin-right: 1.5vw;
    }

    .message__logo:nth-of-type(1) {
        width: 15%;
        margin-right: 3%;
    }

    .message__logo:nth-of-type(2) {
        width: 55%;
    }

    .message__promo-container {
        width: unset;
    }

    .message__messaging {
        flex: none;
        display: inline;
    }

    .message__content {
        justify-content: center;
    }

    .message__sub-headline {
        margin-left: 0;
    }

    .message__disclaimer {
        margin-left: 7px;
        font-size: 1rem;
    }
}

@media (min-aspect-ratio: 200/11) and (min-width: 351px) {
    .message__disclaimer {
    }
}
@media (min-aspect-ratio: 200/11) and (min-width: 903px) {
    .message__logo-container {
        margin-bottom: -6px;
    }
}
@media (min-aspect-ratio: 200/11) and (min-width: 400px) {
    .message__headline {
        font-size: 2vw;
    }

    .message__headline > span:nth-of-type(3) {
        display: inline;
    }

    .message__logo:nth-of-type(1) {
        width: 20%;
        margin-right: 5%;
    }

    .message__logo:nth-of-type(2) {
        display: inline-block;
        width: 60%;
    }
}

@media (min-aspect-ratio: 200/11) and (min-width: 523px) {
    .message__headline span.multi:nth-of-type(1) {
        display: none;
    }

    .message__headline span.multi:nth-of-type(2) {
        display: inline;
    }
}

@media (min-aspect-ratio: 200/11) and (max-width: 600px) {
    .message__logo:nth-of-type(2) {
        display: none;
    }

    .message__logo:nth-of-type(1) {
        width: auto;
    }

    .message__logo-container {
        max-width: 18%;
    }
}

@media (min-aspect-ratio: 200/11) and (min-width: 401px) and (max-width: 522px) {
    .message__logo-container {
        max-width: 18%;
    }

    .message__headline {
        font-size: 2.75vw;
    }

    .message__headline > span:nth-of-type(3) {
        display: none;
    }
}

@media (min-aspect-ratio: 200/11) and (max-width: 350px) {
    .message__headline {
        font-size: 10px;
    }
}
*/
