/* Not a valid style option ratio, but used as the mobile base for 8x1 and 20x1 */
@media (max-aspect-ratio: 61/10) {
    .message__headline {
        font-size: 5vw;
        line-height: 1.3em;
        display: inline;
    }

    .message__disclaimer {
        font-size: 1rem;
    }
    .message__messaging {
        flex: 1 1 100%;
    }
    .message__logo-container {
        display: flex;
        align-items: center;
        flex: 0 0 12%;
    }
}
@media (max-aspect-ratio: 61/10) and (min-width: 251px) {
    .message__logo:nth-of-type(2) {
        display: none;
    }
}

@media (max-aspect-ratio: 61/10) and (max-width: 250px) {
    .message__logo:nth-of-type(1) {
        margin: 0 4px;
        width: 30%;
    }
    .message__logo:nth-of-type(2) {
        display: inline;
    }
    .message__logo-container {
        flex: 0 0 33%;
        margin-right: 14px;
        margin-bottom: -6px;
    }
    .message__content {
        padding: 0.5rem;
    }
    .message__messaging {
        flex: 1 1 100%;
        display: block;
    }
    .message__headline {
        font-size: 0.65rem;
    }
    .message__disclaimer {
        font-size: 0.65rem;
    }
}
