@media (max-aspect-ratio: 11/10) {
    .message__disclaimer span.multi:nth-of-type(1) {
        display: none;
    }

    .message__headline span.multi:nth-of-type(2) {
        display: none;
    }

    .message__headline {
        font-size: 8vw;
        font-weight: 8vw;
        line-height: 1.33em;
    }

    .message__disclaimer {
        font-size: 6vw;
        line-height: 6.66vw;
        margin: 6% 0;
    }

    .message__headline span:nth-of-type(1) {
        margin-right: -4px;
    }
}
@media (min-width: 140px) {
    .message__headline {
        font-size: 1.1rem;
    }

    .message__headline span.multi:nth-of-type(1) {
        display: none;
    }

    .message__headline span.multi:nth-of-type(2) {
        display: inline;
    }

    .message__disclaimer span.multi:nth-of-type(1) {
        display: inline;
    }
}
@media (min-width: 240px) {
    .message__headline {
        font-size: 1.714rem;
    }
    .message__headline span:nth-of-type(1) {
        margin-right: -6px;
    }
}
