@media (max-aspect-ratio: 11/10) {
    .message__headline span.multi:nth-of-type(1) {
        display: none;
    }
    .message__headline span.multi:nth-of-type(2) {
        display: inline;
    }
    .message__headline {
        font-size: 8vw;
        line-height: 1.33em;
    }
    .message__disclaimer {
        font-size: 6vw;
        line-height: 6.66vw;
        margin: 6% 0;
    }
    .message__headline span:nth-of-type(1) {
        margin-right: -4px;
    }
}
@media (max-aspect-ratio: 11/10) and (max-width: 220px) {
    .message__headline {
        font-size: 12vw;
    }
    .message__disclaimer {
        font-size: 8vw;
    }
    .message__headline span.multi:nth-of-type(1) {
        display: inline;
    }
    .message__headline span.multi:nth-of-type(2) {
        display: none;
    }
}
