.message__logo:first-child {
    margin-right: 5px;
}

.message__logo:last-child {
    margin-top: 0px;
}

.message__content {
    align-items: center;
}

.message__messaging {
    padding-right: 0.8rem;
}
