.message__messaging {
    display: inline-block;
    white-space: normal;
    flex: 0 0 auto;
    padding-right: 0px;
}

.message__logo-container {
    display: inline;
    margin-right: 0px;
    order: 0;
}

.message__logo {
    display: inline-block;
    vertical-align: middle;
}

.message__logo:first-child {
    margin-right: 5px;
}

.message__content {
    display: inline-flex;
}

.message__messaging span.br {
    white-space: nowrap;
}

.message__headline > .tag--medium > span {
    white-space: nowrap;
}
