@import '../../../styles/globals/mixins';

.header {
    &__content {
        @include mobile {
            h1 {
                font-size: 2rem;
                line-height: 36px;
                padding: 10px 20px 0px;
            }

            h2 {
                padding: 10px 20px 25px;
                font-size: 1rem;
                line-height: 20px;
            }
        }

        @include smallMobile {

            h1 {
                font-size: 1.7rem;
                line-height: 36px;
                padding: 10px 25px 0px;
            }

            h2 {
                padding: 10px 25px 25px;
                font-size: 1rem;
                line-height: 20px;
            }
        }
    }
    
    &__icons {
        &.sticky {
            @include desktop {
                width: 884px;
            }
        }

        .close {
            svg {
                path {
                    stroke-width: 2.2;
                }
            }
        }
    }
}
