@import '../../../styles/globals/mixins';

.content__container .content__body {
    .content__row {
        &.productLink{
            margin: 1rem auto 3rem;
    
            @include tablet {
                max-width: 315px;
                width: 100%;
                margin: 1rem auto 3rem;
            }

            @include desktop {
                padding-left: 60px;
            }
    
            a {
                color: #1072eb;
                font-size: 0.75rem;
                line-height: 1.4;
            }
        }
    }
}
