@import '../../../styles/globals/mixins';

$webpage : 1640px;

.header__wrapper {
    .header__container {
        @media all and (min-width: $webpage) {
            background-color: transparent;
        }

        .header__icons {
            .pp-logo {
                img {
                    @media all and (min-width: $webpage) {
                        height: 48px;
                    }
                }
            }

            button {
                margin-top: 0.25rem;
                
                @media all and (min-width: $webpage) {
                    display: none;
                }
            }
        }
    }

    .header__content {
        @media all and (min-width: $webpage) {
            padding-bottom: 2rem;
        }

        h1 {
            font-size: 1.89rem;
            line-height: 2.25rem;

            @include desktop {
                font-size: 44px;
                line-height: 48px;
                margin: 0 auto;
            }
        }

        h2 {
            margin-top: 0.25rem;
            font-size: 1rem;
            line-height: 1.33rem;
            font-family: PayPalSansBig, Helvetica, Arial, Sans-Serif;

            @include tablet {
                margin-top: 1rem;
            }

            @include desktop {
                font-size: 28px;
                line-height: 36px;
                max-width: 577px;
                margin: 1rem auto 0;
            }
         }
    }
}

.content__background {
    @include desktop {
        max-width: 884px;
    }

    @media all and (min-width: $webpage) {
       max-width: 933px;
       margin-top: 0;
    }
}

.content__container {
    background-color: #003087;
    margin-top: -2rem;
    padding-top: 2rem;
    padding-bottom: 0;

    @media all and (min-width: $webpage) {
        background-color: transparent;
    }

    .content__body {
        z-index: 0;
        position: relative;
        top: 40px;
        background-color: #F5F7FB;
        padding: 0 25px;
        box-sizing: border-box;

        @include desktop {
            padding: 0;
            top: 0;
        }

        @media all and (min-width: $webpage) {
            border-top-left-radius: 100px;
            border-bottom-right-radius: 100px;
        }

        .dynamic__container {
            @media all and (min-width: $webpage) {
                overflow: hidden;
                background-color: #fff;
                border-top-left-radius: 100px;
            }
        }

        .content__row {
            .content__col {
                flex-wrap: wrap;
                flex-direction: initial;

                .collapsed:last-child {
                    overflow: hidden;
                }
            }

            .donuts {
                display: flex;
                align-items: center;
                background-color: #FFFFFF;
                border-top-left-radius: 40px;
                border-bottom-right-radius: 40px;
                min-height: 10em;
                z-index: 1;
                width: 100%;
                position: relative;
                top: -65px;
                margin-bottom: -65px;

                @include desktop {
                    max-width: initial;
                    min-height: 5em;
                    top: 0;
                    margin-bottom: 0px;
                    background-color: transparent;
                    border-top-left-radius: 0;
                    border-bottom-right-radius: 0;
                    align-items: initial;
                }
            
                .donuts__container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    max-width: 360px;
                    margin: 0 auto;
                    padding: 0 20px;

                    @include desktop {
                        transform: translate(0px, 1rem);
                        padding: 0 40px;
                        position: relative;
                        top: 30px;
                        max-width: 380px;
                    }

                    @media all and (min-width: $webpage) {
                        padding: 0 20px;
                    }

                }
            }

            &.dynamic {
                position: relative;
                box-sizing: border-box;
                background-color: transparent;
                padding-left: 0px; 
                padding-right: 0px;
                margin: 0 -25px;

                @include desktop {
                    width: 100%;
                    padding: 0;
                    left: 0;
                    top: 0;
                    margin: 0;
                    height: 600px;
                    background-color: #fff;
                }

                @media all and (min-width: $webpage) {
                    max-width: 840px;
                    margin: 0 auto;
                }

                &.collapsed {
                    max-width: 445px;
                }

                .branded-image {
                    display: flex;
                    margin-top: 56px;

                    @media all and (min-width: $webpage) {
                        margin-top: 50px;
                    }
                }
            }

            &.instructions {
                max-width: 315px;
                padding: 0 25px;
                margin: 0 auto;

                @include tablet {
                    padding: 0 75px;
                    max-width: initial;
                }

                @include desktop {
                    max-width: 270px;
                }

                @media all and (min-width: $webpage) {
                    max-width: 315px;
                 }

                ol.collapsed {
                    @include desktop {
                        width: 100%;
                    }

                    .instructions__bullet {
                        @include desktop {
                            line-height: 25px;
                        }
                    }

                    li {
                        @include desktop {
                            font-size: 18px;
                            line-height: 24px;
                        }
                    }
                }
            }

            &.disclosure {
                max-width: 315px;
                margin: 0 auto;

                @include desktop {
                    width: 100%;
                    padding: 2rem 60px 0;
                    box-sizing: border-box;
                    max-width: initial;
                }

                p {
                    margin: 0;
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            &.productLink{
                margin: 1rem 0 2rem;

                @include tablet {
                    margin: 1rem 0 3rem;
                }

                #productListLink {
                    min-width: initial;
    
                    @media (min-width: 350px){
                        min-width: 315px;
                    }
                }

                .productLink__container{
                    max-width: 315px;
                    margin: 0 auto;

                    @include desktop {
                        max-width: initial;
                    }

                    a {
                        color: #1072eb;
                        font-size: 0.75rem;
                        line-height: 1.4;

                        @include mobile{
                            min-width: initial;
                        }

                        @include desktop {
                            padding-left: 30px;
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }
            }

        }
    }
}