@import '../../../styles/globals/mixins';

.content__container .content__body {
    .content__row {
        &.productLink{
            margin: 1rem 0 2rem;

            @include tablet {
                margin: 1rem 0 3rem;
            }

            .productLink__container{
                max-width: 315px;
                margin: 0 auto;

                @include desktop {
                    max-width: initial;
                }

                a {
                    color: #1072eb;
                    font-size: 0.75rem;
                    line-height: 1.4;

                    @include desktop {
                        padding-left: 30px;
                    }
                }
            }
        }
    }
}

.content__row.donuts {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    min-height: 10em;
    z-index: 1;
    width: 100%;
    position: relative;
    top: -65px;
    margin-bottom: -65px;

    @include desktop {
        max-width: initial;
        top: 0;
        margin-bottom: 0px;
        background-color: transparent;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        align-items: self-end;
    }

    .donuts__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        padding: 0 20px;

        @include smallMobile {
            transform: translate(0px, 1rem);
        }

        @include mobile {
            transform: translate(0px, 0.75rem);
        }

        @include tablet {
            transform: translate(0px, 0.75rem);
        }

        @include desktop {
            transform: translate(0px, 1rem);
            padding: 0 40px;
        }

    }
}

#productListLink {

    @include mobile{
        min-width: initial;
    }
}