.content-body {
    @include desktop {
        display: flex;

        .offer {
            color: white;
            white-space: nowrap;
            font-size: 30px;
            font-weight: 600;
            letter-spacing: 0.8px;
            line-height: 44px;
            padding-left: 20px;
            margin: 0px;
        }

        .title {
            font-family: 'PayPalSansBig';
            font-size: 24px;
            letter-spacing: 0.8px;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .subheadline {
            padding-left: 20px;
            color: white;
            font-family: 'PayPalSansBig';
            font-size: 13px;
            letter-spacing: 0.25px;
        }

        .terms {
            padding-left: 15px;
        }

        .terms p:first-child {
            line-height: 18px;
            letter-spacing: 0.5px;
            color: white;
            font-family: 'PayPalSansBig';
            font-size: 13px;
        }

        .terms p > br:nth-child(2) {
            display: none;
        }

        .thumbs-up {
            height: 250px;
        }

        &::after {
            content: '';
            background-color: #0070ba;
            width: 67%;
            height: 850px;
            border-bottom-right-radius: 100%;
            border-top-right-radius: 100%;
            position: absolute;
            top: -225px;
            left: 0;
        }

        .left {
            flex-grow: 1;
            z-index: 9;
        }

        .right {
            width: 34%;
        }

        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .info > p {
            font-size: 15px;
            line-height: 23px;
            text-align: center;
            margin-top: 6px;
        }

        .info > p:last-child > span {
            font-weight: 600;
            font-style: italic;
        }
    }

    @media (max-width: 749px) and (orientation: landscape), (max-height: 539px) and (orientation: landscape) {
        &::after {
            width: 1200px !important;
        }
    }

    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        min-height: calc(100vh - 184px);

        .offer {
            color: white;
            font-size: 24px;
            font-weight: 600;
            white-space: nowrap;
            letter-spacing: 0.8px;
            line-height: 36px;
            text-align: center;
            margin-top: 22px;
            margin-bottom: 0px;
        }

        .title {
            display: none;
        }

        &::after {
            content: '';
            background-color: #0070ba;
            width: 900px;
            height: 500px;
            border-radius: 0 0 100% 100%;
            display: block;
            order: 1;
            margin-top: -280px;
        }

        .left {
            z-index: 9;
            order: 2;
            margin-top: -250px;
        }

        .subheadline {
            font-family: 'PayPalSansBig';
            color: white;
            text-align: center;
            letter-spacing: 0.25px;
        }

        .right {
            order: 3;
            margin-top: 40px;
            text-align: center;
        }

        .info > p {
            font-size: 15px;
            margin-top: 9px;
        }

        .info > p:last-child > span {
            font-weight: 600;
            font-style: italic;
        }

        .terms > p {
            color: #6c7378;
            padding-left: 13px;
            padding-right: 13px;
        }

        .terms {
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            border-top: 1px dashed #bd10e0;
        }

        .terms > p > br:nth-child(3) {
            display: none;
        }
    }

    @media (max-width: 403px) {
        .terms > p > br:first-child {
            display: none;
        }
    }

    @media (max-width: 395px) {
        .terms > p > br:nth-child(2) {
            display: none;
        }
    }

    @include smallMobile {
        .offer {
            font-size: 20px;
            line-height: 32px;
        }

        .terms > p {
            font-size: 12px;
        }

        &::after {
            width: 800px;
        }
    }
}
