.message__content {
    padding: 8%;
}

.message__logo-container {
    width: 70%;
    margin-bottom: 12%;
}

.message__headline {
    font-size: 1.6rem;
    line-height: 1.3em;
    margin-bottom: 24%;
}

.message__sub-headline {
    font-size: 1.56rem;
    line-height: 1.3em;
    margin-bottom: 40%;
    margin-bottom: 24%;
}

.message__disclaimer {
    position: absolute;
    bottom: 4%;
    font-size: 0.75rem;
}

@media (max-aspect-ratio: 11/40) {
    .message__logo-container {
        margin: 15% 0 30%;
    }

    .message__disclaimer {
        position: static;
    }

    .message__disclaimer span.multi:nth-of-type(1) {
        display: inline;
    }

    .message__disclaimer span.multi:nth-of-type(1).tag--xlarge {
        margin-bottom: 40%;
        display: block;
    }

    .message__disclaimer span.multi:nth-of-type(2) {
        display: block;
    }
}
