.message__logo-container {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 0;
}

.message__messaging {
    height: 100%;
    transform: translateY(-80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message__content {
    padding: 7%;
}

.message__headline {
    font-size: 1rem;
    margin-bottom: 10%;
}

.message__sub-headline {
    display: none;
}

.message__disclaimer {
    font-size: 0.9rem;
    white-space: normal;
}

.message__disclaimer > span,
.message__disclaimer > span > span {
    white-space: normal;
}

.message__disclaimer > span.tag--default,
.message__disclaimer > span.tag--default > span {
    white-space: nowrap;
}

.message__disclaimer .tag--xsmall {
    display: inline;
}

.message__headline .tag--xsmall {
    display: none;
}

@media (min-height: 500px) {
    .message__headline {
        font-size: 1.8rem;
    }
}

@media (aspect-ratio: 1/2) {
    .message__messaging {
        transform: translateY(-40px);
    }
}
