html,
body {
    height: 100% !important;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

html {
    min-width: inherit !important;
}

body {
    margin: 0;
    font-family: PayPalSansSmall, Helvetica, Arial, Sans-Serif;
    font-weight: 400;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
p,
li {
    color: #2c2e2f;
    font-family: PayPalSansSmall, Helvetica, Arial, Sans-Serif;
    font-weight: 400;
}

h1 {
    font-size: 30px;
    margin-bottom: 16px;
    line-height: 42px;
    font-family: PayPalSansBig, Helvetica, Arial, Sans-Serif;
    font-weight: 200;
}

h2 {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 6px;
    font-family: PayPalSansSmall, Helvetica, Arial, Sans-Serif;
}

svg {
    margin: auto;
    display: block;
}

h4 {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
}

p {
    font-size: 13px;
    line-height: 18px;
}

a {
    text-decoration: none;
    color: #0070ba;
    font-family: PayPalSansSmall, Helvetica, Arial, Sans-Serif;
    font-weight: 600;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: disc;
    margin-left: 18px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0;
}

.button {
    display: inline-block;
    background: #0070ba;
    border: none;
    color: white;
    border-radius: 3rem;
    padding: 0.7em 1.5em;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s;
    font-weight: 500;
    border: 1px solid #0070ba;
}

.button:hover,
.button:focus {
    background: #003087;
    border: 1px solid #003087;
}

.button:focus {
    text-decoration: underline;
    outline: none;
}

.button--secondary {
    background: white;
    color: #0070ba;
    border: 1px solid #0070ba;
}

.button--secondary:hover,
.button--secondary:focus {
    border-color: #003087;
    box-shadow: 0 0 0 0.0625em #003087 inset;
    color: #003087;
    background: white;
}

.button--md {
    font-size: 0.9rem;
}

.accordion {
    position: relative;
}

.accordion__title {
    margin: 0;
}

.accordion__description {
    font-family: PayPalSansSmall, Helvetica, Arial, Sans-Serif;
    font-size: 13px;
    font-weight: 400;
    margin: 0 40px 12px 0;
}

.accordion__content {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion__symbol {
    position: absolute;
    top: 24px;
    right: 16px;
    cursor: pointer;
    pointer-events: none;
}

.accordion--show .accordion__symbol {
    transform: rotate(180deg);
    top: 27px;
}

.accordion__title-btn {
    font-family: PayPalSansSmall, Helvetica, Arial, Sans-Serif;
    font-size: inherit;
    font-weight: inherit;
    display: block;
    width: 100%;
    border: none;
    outline-offset: -5px 0;
    background: transparent;
    cursor: pointer;
    margin: 0 0 0.5rem 0;
    font-weight: 600;
    padding: 22px 40px 22px 0;
    text-align: left;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                    supported by Chrome and Opera */
}

.accordion__title-btn--with-description {
    padding-bottom: 11px;
}

.accordion__divider {
    border-top: 1px solid #eaeced;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    border-top: 4px solid #00ff7f;
    width: 80px;
    height: 80px;
    opacity: 0;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    transition: opacity 0.2s;
    pointer-events: none;
    transform-origin: 0 0;
    z-index: 5;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg) translate(-50%, -50%);
    }
    100% {
        -webkit-transform: rotate(360deg) translate(-50%, -50%);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg) translate(-50%, -50%);
    }
    100% {
        transform: rotate(360deg) translate(-50%, -50%);
    }
}

.header {
    transition: 150ms;
    height: 100%;
}

.header__logo {
    box-sizing: border-box;
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 18px 0;
    height: 72px;
    transition: all 0.3s;
}

.header__close {
    display: block;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 8px;
}

.header__close svg {
    height: 48px;
    width: 48px;
}

.header__close path {
    stroke-width: 1px;
    transition: all 0.3s;
}

.header__logo-wrapper {
    transition: all 0.3s;
    transform: translateX(0) scale(1);
}

.header__logo-wrapper--shift {
    transform: translateX(calc(-50% + 35px + 16px)) scale(0.7);
}

@media (min-width: 26.25rem) {
    .header__logo-wrapper--shift {
        transform: translateX(calc(-50% + 50px + 24px)) scale(1);
    }
}

.header__apply-now {
    position: absolute;
    top: 1.1rem;
    left: 50%;
    font-size: 0.9rem;
}

@media (min-width: 22.5rem) {
    .header__apply-now {
        font-size: 1rem;
    }
}
