.content__calculator {
    margin: auto;
    max-width: 400px;
    padding-bottom: 3rem;
}

@media only screen and (max-width: 612px) {
    .content__calculator {
        padding: 0 18px;
    }
}

.header__logo {
    width: 200px;
    padding: 28px 0;
}

.modal__header {
    background: rgb(246, 247, 251);
}

.modal__header::after {
    background: linear-gradient(rgba(246, 247, 251, 1), rgba(246, 247, 251, 0));
    height: 20px;
}

.modal__content {
    padding-top: 72px;
}

.content {
    overflow: hidden;
}

.content__disclosure {
    color: #687173;
    font-size: 0.75rem;
}

.carousel__title {
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.calculator__title {
    text-align: center;
}

.calculator {
    text-align: center;
    max-width: 300px;
    margin: auto;
}

.calculator__instructions {
    color: #687173;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}

.calculator__instructions::before {
    content: '';
    display: block;
    position: absolute;
    top: -0.7rem;
    width: 220px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px dotted #cbd2d6;
}

.calculator__input {
    font-size: 20px;
    text-align: center;
    width: 100%;
    border: none;
}

.calculator__form {
    width: 150px;
    margin: auto;
    padding: 0 2rem;
    font-size: 20px;
    position: relative;
}

.calculator__form:after {
    content: '€';
    position: absolute;
    top: 1px;
    right: 1.3rem;
}

.calculator__spinner {
    bottom: 100px;
}

.carousel {
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 66.666666%;
}

.carousel__inner {
    white-space: nowrap;
    transition: transform 0.2s ease-out;
    font-size: 0;
    transform: translateX(0);
}

.carousel__item {
    display: inline-block;
    width: 100%;
    padding: 15px 30px 0;
    box-sizing: border-box;
    white-space: normal;
}

.carousel__item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel__image {
    margin: auto;
}

.carousel__text {
    text-align: center;
    max-width: 250px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

.carousel__indicators {
    padding: 0;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 0;
}

.carousel__indicators li {
    display: inline-block;
    margin: 0;
}

.carousel__bullet {
    cursor: pointer;
    display: block;
    border: none;
    background: none;
    height: 30px;
    width: 30px;
    position: relative;
    overflow: hidden;
}

.carousel__bullet:after {
    background-color: #aaaaaa;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.carousel__bullet.active:after {
    background-color: #0070ba;
}

.carousel__shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: 0px -20px 20px 20px #f6f7fb inset;
    z-index: 1;
}

.carousel__background {
    border-radius: 0 0 100% 100%;
    width: 150%;
    background: #f6f7fb;
    overflow: auto;
    margin-left: -25%;
}

.carousel__arrows {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 10px;
}

.carousel__arrow {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    background: none;
    border: none;
    position: absolute;
    cursor: pointer;
}

.carousel__arrow:hover {
    background: #eee;
}

.carousel__arrow:focus {
    background: #eee;
    outline: none;
    border: 1px solid rgba(0, 112, 186, 0.5);
}

.carousel__arrow:after {
    content: '';
    position: absolute;
    width: 30%;
    height: 30%;
    border-top: 2px solid #cbd2d6;
    border-right: 2px solid #cbd2d6;
    top: 37%;
    left: 28%;
}

.carousel__arrow--prev {
    left: 10px;
    transform: rotate(-135deg);
}

.carousel__arrow--next {
    right: 10px;
    transform: rotate(45deg);
}

.finance-terms__table {
    width: 100%;
    font-size: 0.875rem;
}

.finance-terms__table td {
    padding: 2px 0;
}

.finance-terms__table td:last-child {
    text-align: right;
}

.finance-terms__divider {
    opacity: 0.3;
}

.finance-terms__header {
    text-align: center;
}

.finance-terms__error {
    text-align: center;
}

@media only screen and (min-width: 436px) {
    .finance-terms__table td {
        padding: 5px 0;
    }

    .calculator__title {
        font-size: 1.1875rem;
    }

    .calculator__form {
        font-size: 1.5rem;
    }

    .calculator__form:after {
        top: -1px;
    }

    .calculator__input {
        font-size: 1.5rem;
    }
}
