.tabs {
    margin: auto;
    max-width: 400px;
    padding: 0 18px;
    white-space: nowrap;
    font-size: 0;
    display: flex;
}

.tab {
    cursor: pointer;
    display: block;
    padding: 30px 0px 15px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
    font-family: PayPalSansSmall, Helvetica, Arial, Sans-Serif;
    width: 50%;
    text-align: center;
    margin-top: 0;
    white-space: normal;
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    transition: color 0.3s;
}

.tab::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #0070ba;
    transform: scaleX(0);
    transition: transform 0.2s ease;
    transform-origin: center right;
}
.tab:nth-of-type(2)::after {
    transform-origin: center left;
}

.tab:hover {
    color: #0070ba;
}

.tab--selected {
    color: #005187;
}

.tab--selected::after {
    transform: scaleX(1);
}

.tab__transition {
    position: relative;
}

.tab__transition-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    transition-delay: 0.3s;
}

.tab__transition-item--selected {
    position: relative;
    z-index: 2;
    background: white;
    opacity: 1;
    pointer-events: all;
    transition-delay: 0s;
}

.calculator {
    margin-bottom: 10px;
}

.calculator__title {
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    margin-top: 0;
}

.calculator__form {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
}

.calculator__form::before {
    content: '$';
    position: absolute;
    display: block;
    z-index: 9;
    color: black;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
}

.calculator__input {
    flex: 1 1 70%;
    -ms-flex: 1 1 70%;
    border: 1px solid #b7bcbf;
    border-radius: 5px;
    background: white;
    padding: 10px 10px 10px 25px;
    /*outline: none;*/
    font-family: PayPalSansSmall, Helvetica, Arial, Sans-Serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2c2e2f;
    box-sizing: border-box;
    min-width: 0;
    margin-right: 1rem;
}

.calculator__input::-webkit-inner-spin-button,
.calculator__input::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.calculator__input:invalid + .calculator__error-msg {
    visibility: visible;
    color: red;
}

.calculator__input:valid + .calculator__error-msg {
    visibility: hidden;
}

.calculator__error-msg {
    display: none;
    border: 2px solid #d20000;
    padding: 10px;
    text-align: center;
    font-family: PayPalSansSmall, Helvetica, Arial, Sans-Serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    color: #2c2e2f;
    background: #fff7f7;
    border-radius: 6px;
    margin-top: 10px;
}

.finance-terms__note {
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 400;
    font-family: PayPalSansSmall, Helvetica, Arial, Sans-Serif;
    color: #2c2e2f;
}

.finance-terms__error {
    font-size: 13px;
    margin-bottom: 24px;
}

.finance-terms__table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
}

.finance-terms__table thead tr {
    height: 50px;
    padding: 5px 0 0 5px;
    background: #f5f5f5;
    font-weight: 600;
    font-family: PayPalSansSmall, Helvetica, Arial, Sans-Serif;
    margin-bottom: 0;
    font-size: 13px;
}

.finance-terms__table thead th {
    padding-top: 5px;
    text-align: left;
    padding-left: 8px;
    vertical-align: top;
    line-height: 1.38;
    letter-spacing: -0.2px;
    color: #2c2e2f;
}

.finance-terms__table tbody tr:not(:first-of-type) {
    border-top: solid 0.5px #eaeced;
    clear: both;
    width: 99.99%;
}

.finance-terms__table tbody tr:last-of-type {
    margin-bottom: 38px;
}

.finance-terms__table tbody td {
    padding: 7px 0 7px 5px;
    box-sizing: border-box;
    font-family: PayPalSansSmall, Helvetica, Arial, Sans-Serif;
    margin: 0;
    padding-left: 8px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.2px;
    color: #2c2e2f;
}
