.content-header {
    text-align: center;
    padding-bottom: 2rem;
}

.content-header__image-wrapper {
    max-width: 10rem;
    margin: 0.5rem auto 1rem;
    height: 11rem;
    position: relative;
}

.content-header__image-wrapper > :first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.content-header__title {
    font-size: 1.25rem;
    font-weight: 200;
    text-align: center;
    max-width: 16rem;
    margin: auto;
    line-height: 1.4;
}

.content-header__tag {
    text-align: center;
    margin: 0.7rem 0 1rem;
}

.content-body {
    padding: 2rem 1.5rem;
    max-width: 26rem;
    margin: auto;
}

.content-body::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    border-top: 1px solid #eaeced;
    transform: translateY(-2rem);
}

.content-body__title {
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    margin-top: 0;
}

.content-body__terms-item,
.content-body__instructions-item {
    margin-bottom: 1.5rem;
}

.content-body__divider {
    border: none;
    border-top: 1px solid #eaeced;
    margin: 2rem 0;
}

.content-body__instructions-list {
    /* margin-bottom: 4rem; */
}

.content-body__instructions-item {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 0;
}

.content-body__instructions-item > :first-child {
    flex: 0 0 3rem;
    margin-right: 1.5rem;
}

.content-body__instructions-item > :last-child {
    flex: 1 1 100%;
    margin: 0;
}

.button {
    display: inline-block;
    background: #0070ba;
    border: none;
    color: white;
    border-radius: 3rem;
    padding: 0.7em 1.5em;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s;
    font-weight: 500;
    border: 1px solid #0070ba;
}

.button:hover,
.button:focus {
    background: #003087;
    border: 1px solid #003087;
}

.button:focus {
    text-decoration: underline;
    outline: none;
}

.button--secondary {
    background: white;
    color: #0070ba;
    border: 1px solid #0070ba;
}

.button--secondary:hover,
.button--secondary:focus {
    border-color: #003087;
    box-shadow: 0 0 0 0.0625em #003087 inset;
    color: #003087;
    background: white;
}

.button--md {
    font-size: 0.9rem;
}
