.message__logo-container::before {
    content: 'avec ';
}

.message__logo-container::after {
    content: '.';
}

.message__logo:last-child {
    margin-top: -1px;
    margin-right: 0px;
}

.weak {
    display: none;
}
