name: Playwright Accessibility Tests
on:
    # allow for manual triggers
    workflow_dispatch: {}
    push:
        branches: [playwright-automated-testing]
    pull_request:
        branches: [playwright-automated-testing]
jobs:
    test:
        timeout-minutes: 60
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: lts/*
            - name: Install dependencies
              run: npm i
            - name: Install Playwright Browsers
              run: npx playwright install --with-deps chromium firefox webkit
            - name: Run server
              run: |
                  ./.github/scripts/runServerV2.sh
            - name: Run Playwright tests (Chrome)
              run: xvfb-run npx playwright test --project=chromium --debug 
            - name: Run Playwright tests (Firefox)
              run: xvfb-run npx playwright test --project=firefox --debug 
            - name: Run Playwright tests (Webkit)
              run: xvfb-run npx playwright test --project=webkit --debug 
            - uses: actions/upload-artifact@v4
              if: always()
              with:
                  name: playwright-report
                  path: playwright-report/
                  retention-days: 30
