.message__logo-container {
    display: flex;
}

.message__logo:nth-of-type(1) {
    width: 10px;
    display: inline-block;
    margin-right: 2px;
}

.message__logo:nth-of-type(2) {
    width: 30px;
    display: inline-block;
}

.message__messaging {
    display: block;
    flex: 0 0 75%;
}

.message__headline {
    line-height: 1.4em;
}

@media (min-aspect-ratio: 80/11) {
    .message__headline {
        font-size: 3.4vw;
        padding-right: 1rem;
        display: inline;
    }

    .message__logo-container {
        margin-bottom: 0;
    }

    .message__disclaimer {
        margin-top: 0;
        display: inline;
    }

    .message__content {
        display: flex;
    }
}

@media (min-aspect-ratio: 80/11) and (min-width: 500px) {
    .message__messaging {
        flex: 0 0 70%;
    }

    .message__headline {
        font-size: 3.4vw;
        padding-right: 1rem;
    }

    .message__logo-container {
        flex-basis: 20%;
    }

    .message__promo-container {
        flex: 0 1 auto;
        width: auto;
    }

    .message__disclaimer {
        flex: 1 1 auto;
        margin-top: 0.5rem;
    }

    .message__content {
        padding: 2.5vw;
        padding-left: 0;
    }

    .message__disclaimer span.multi:nth-of-type(1) {
        display: inline;
    }

    .message__logo:nth-of-type(1) {
        width: 25px;
        display: inline-block;
        margin-right: 8px;
    }

    .message__logo:nth-of-type(2) {
        width: 76px;
        display: inline-block;
    }
}
