/* Sizing will be handled by the iframe container */
html,
body,
button {
    height: 100%;
}

.message {
    cursor: pointer;
}

.message .br {
    display: inline-block;
}

.message .em {
    font-family: PayPal-Sans-Big, PayPal-Sans;
    font-weight: 400;
}

.message__container,
.message__foreground,
.message__content,
.message__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.message__headline,
.message__sub-headline,
.message__disclaimer {
    font-family: PayPal-Sans;
    font-weight: 300;
}

.message__headline {
    font-family: PayPal-Sans-Big, PayPal-Sans;
    font-weight: 400;
}
.message__headline .weak {
    font-family: PayPal-Sans;
    font-weight: 300;
}

.message__disclaimer > span:not(.multi),
.message__disclaimer > span.multi:last-of-type {
    font-weight: 300;
    text-decoration: underline;
    white-space: nowrap;
}

.message__background {
    z-index: -1;
}

.message__messaging {
    font-size: 0;
}
